<div class="multi-selector" [style.width]="width" [style.height]="height">
  <div
    class="output"
    [style.border-color]="mainColor"
    [style.background-color]="mainColor"
  >
    <div
      class="selected"
      [style.color]="mainColor"
      [style.border-color]="mainColor"
    >
      Selecionados {{ total }}
    </div>
    <div
      class="bt-admin cursor"
      (click)="toggle()"
      [style.background-color]="mainColor"
    >
      <ng-container *ngIf="show; else search">
        <fa-icon [icon]="faSearchMinus"></fa-icon>
      </ng-container>
      <ng-template #search>
        <fa-icon [icon]="faSearchPlus"></fa-icon>
      </ng-template>
    </div>
  </div>
  <div
    class="options"
    *ngIf="show"
    (mouseleave)="hide()"
    [style.border-color]="mainColor"
  >
    <div class="finder">
      <input type="text" (keyup)="filter($event)" placeholder="busque aqui" />
      <fa-icon [icon]="faSearch" [style.color]="mainColor"></fa-icon>
    </div>

    <div
      *ngFor="let state of states"
      (click)="setValue(state)"
      class="hover"
      [style.color]="mainColor"
    >
      <ng-container *ngIf="state.selected; else elseTemplate">
        <fa-icon [icon]="faCheckSquare"></fa-icon>
      </ng-container>
      <ng-template #elseTemplate>
        <fa-icon [icon]="faSquare"></fa-icon>
      </ng-template>
      {{ state.label }}
    </div>
  </div>
</div>
