<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="header">
      <div class="control filter" *ngIf="client?.user.username">
        <fa-icon [icon]="faUserTie"></fa-icon>
        &nbsp;<strong>{{ client.user.username }}</strong>
        <fa-icon
          [icon]="faTimes"
          class="cursor"
          class="text-oposity1"
          (click)="clear()"
        ></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
      </div>
      <div class="mx-2">Receituário</div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>

      <div class="control" (click)="pageUp()">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="showSearch = false">
      <div class="form">
        <div class="input">
          <input
            type="text"
            name="search"
            placeholder="Nome do paciente"
            #clientname
          />
          <fa-icon
            [icon]="faSearch"
            (click)="search(clientname.value)"
          ></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados

            <strong class="ml-1"> {{ clients?.length }}</strong>
          </div>

          <div class="wrapper">
            <div
              class="result"
              *ngFor="let client of clients"
              (click)="save(client)"
            >
              <ng-container *ngIf="client.user.avatar?.url; else avatar">
                <img [src]="client.user.avatar?.url" alt="avatar" />
              </ng-container>

              <ng-template #avatar>
                <img src="../../../assets/avatarmale.png" alt="avatar" />
              </ng-template>
              <div>
                <strong>
                  {{
                    client.user.surname
                      ? client.user.fullname
                      : client.user.username
                  }}</strong
                >
                <div>
                  <fa-icon
                    [icon]="faMobileAlt"
                    *ngIf="client.user?.phoneNumber"
                  ></fa-icon>
                  {{ client.user?.phoneNumber }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="founds">
      Encontrados <strong>{{ prescriptions?.length }}</strong>
    </div>

    <div class="wrapper-results" *ngIf="prescriptions?.length > 0">
      <div *ngFor="let prescription of prescriptions" class="prescriptions">
        <header (click)="prescription.visible = !prescription.visible">
          <div class="info user">
            <ng-container
              *ngIf="prescription.doctor.user.avatar?.url; else avatar"
            >
              <img [src]="prescription.doctor.user.avatar.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>
            Doutor: {{ prescription.doctor.user.fullname }}
          </div>

          <div class="info">
            <fa-icon [icon]="faFileMedical"></fa-icon>
            {{ prescription?.code }}
          </div>

          <div class="user info">
            <ng-container
              *ngIf="prescription.client.user.avatar?.url; else avatar"
            >
              <img [src]="prescription.client.user.avatar.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>
            <div class="">
              Paciente:
              {{ prescription.client.user.fullname }}
            </div>
          </div>

          <div class="info">
            <fa-icon [icon]="faCalendarDay"></fa-icon>
            {{ pretty(prescription.createdAt) }}
          </div>

          <div class="info">
            <a [routerLink]="['.', prescription.id]"
              ><fa-icon [icon]="faEdit" class="text-oposity1"></fa-icon>
            </a>
          </div>
        </header>

        <div
          class="resume"
          *ngIf="
            (prescription?.recomendations !== {} ||
              prescription.medicines?.length > 0 ||
              prescription.exams?.length > 0) &&
            prescription.visible
          "
        >
          <div class="title"><strong> Resumo</strong></div>

          <div class="itens">
            <div *ngIf="prescription?.recomendations" class="my-1 recom">
              <div class="title">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                <strong> Recomendações</strong>
              </div>
              <div
                *ngFor="let r of arrayFromObject(prescription.recomendations)"
              >
                <div>{{ r }}</div>
              </div>
            </div>

            <div *ngIf="prescription.medicines.length > 0" class="my-1 medc">
              <div class="title">
                <fa-icon [icon]="faCapsules"></fa-icon>

                <strong> Medicamentos</strong>
              </div>
              <div *ngFor="let medicine of prescription.medicines">
                <ng-container *ngIf="medicine.formula === ''; else formula">
                  {{ fmrt(medicine.substance) }}
                  {{ medicine }}
                </ng-container>
                <ng-template #formula>
                  Formula: {{ medicine.formula }}
                </ng-template>
              </div>
            </div>

            <div *ngIf="prescription.exams?.length > 0" class="my-1 exam">
              <div class="title">
                <fa-icon [icon]="faVial"></fa-icon>

                <strong> Exames</strong>
              </div>
              <div *ngFor="let exam of prescription.exams">
                {{ fmrt(exam.type) }}

                <strong>{{ exam.lab?.name }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
