<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="header">
      <div class="control filter" *ngIf="client?.user.username">
        <fa-icon [icon]="faUserTie"></fa-icon>
        &nbsp;<strong>{{ client.user.username }}</strong>
        <fa-icon
          [icon]="faTimes"
          class="cursor"
          class="text-oposity1"
          (click)="clear()"
        ></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
      </div>
      <div class="mx-2">Receituário</div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>

      <div class="control" (click)="pageUp()">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="showSearch = false">
      <div class="form">
        <div class="input">
          <input
            type="text"
            name="search"
            placeholder="Nome do paciente"
            #clientname
          />
          <fa-icon
            [icon]="faSearch"
            (click)="search(clientname.value)"
          ></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados

            <strong class="ml-1"> {{ clients?.length }}</strong>
          </div>

          <div class="wrapper">
            <div
              class="result"
              *ngFor="let client of clients"
              (click)="save(client)"
            >
              <ng-container *ngIf="client.user.avatar?.url; else avatar">
                <img [src]="client.user.avatar?.url" alt="avatar" />
              </ng-container>

              <ng-template #avatar>
                <img src="../../../assets/avatarmale.png" alt="avatar" />
              </ng-template>
              <div>
                <strong>
                  {{
                    client.user.surname
                      ? client.user.fullname
                      : client.user.username
                  }}</strong
                >
                <div>
                  <fa-icon
                    [icon]="faMobileAlt"
                    *ngIf="client.user?.phoneNumber"
                  ></fa-icon>
                  {{ client.user?.phoneNumber }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="founds">
      Encontrados <strong>{{ prescriptions?.length }}</strong>
    </div>

    <div class="wrapper-results" *ngIf="prescriptions?.length > 0">
      <div *ngFor="let prescription of prescriptions" class="prescriptions">
        <header (click)="prescription.visible = !prescription.visible">
          <div class="user">
            <ng-container
              *ngIf="prescription.doctor.user.avatar?.url; else avatar"
            >
              <img [src]="prescription.doctor.user.avatar.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>

            <div>
              <strong>{{ prescription.doctor.user.fullname }}</strong>

              <div class="d-flex align-items-center info">
                <div class="icon">
                  <fa-icon [icon]="faMedkit" class="mr-1"></fa-icon>
                </div>
                {{ prescription?.doctor.specialty[0] }}

                <fa-icon [icon]="faFileMedical" class="mx-1"></fa-icon>
                {{ prescription?.code }}
              </div>
            </div>
          </div>

          <div class="user">
            <ng-container
              *ngIf="prescription.client.user.avatar?.url; else avatar"
            >
              <img [src]="prescription.client.user.avatar.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>

            <div>
              <div class="">
                <strong> {{ prescription.client.user.fullname }}</strong>
              </div>

              <div class="info">
                <fa-icon [icon]="faCalendarDay"></fa-icon>
                {{ pretty(prescription.createdAt) }}
              </div>
            </div>
          </div>

          <div>
            <a [routerLink]="['.', prescription.id]"
              ><fa-icon [icon]="faEdit" class="text-oposity1"></fa-icon>
            </a>
          </div>
        </header>

        <div
          class="resume"
          *ngIf="
            (prescription.recomendations?.length !== 0 ||
              prescription.medicines?.length > 0 ||
              prescription.exams?.length > 0) &&
            prescription.visible
          "
        >
          <div class="mt-2 mb-1">
            <strong>
              <fa-icon [icon]="faClipBoard" class="mr-1"></fa-icon>

              Anamnese</strong
            >
          </div>

          <div class="anamnese prescription-header">
            <div class="field">
              <div class="icon">
                <fa-icon [icon]="faTachometerAlt" class="mr-1"></fa-icon>
              </div>
              Pressão arterial:
              <strong>
                {{ prescription?.pressure || "_ _" }}

                mmHg</strong
              >
            </div>

            <div class="field">
              <div class="icon">
                <fa-icon [icon]="faWeight" class="mr-1"></fa-icon>
              </div>

              Peso:
              <strong>
                {{ prescription?.weight || "_ _" }}

                kg</strong
              >
            </div>

            <div class="field">
              <div class="icon">
                <fa-icon [icon]="faHeart" class="mr-1"></fa-icon>
              </div>
              Batimentos:
              <strong>
                {{ prescription?.bpm || "_ _" }}

                bpm</strong
              >
            </div>

            <div class="field">
              <div class="icon">
                <fa-icon [icon]="faRulerVertical"></fa-icon>
              </div>
              Altura:<strong>
                {{ prescription?.height || "_ _" }}

                cm</strong
              >
            </div>

            <div class="field">
              <div class="icon">
                <fa-icon [icon]="faRulerHorizontal"></fa-icon>
              </div>
              Cintura:<strong>
                {{ prescription?.waist || "_ _" }}

                cm</strong
              >
            </div>
          </div>

          <div class="itens">
            <div
              *ngIf="prescription.recomendations.length > 0"
              class="my-1 recoms"
            >
              <div class="title">
                <fa-icon [icon]="faExclamationCircle" class="mr-1"></fa-icon>
                <strong>Recomendações</strong>
              </div>

              <app-recom-view
                *ngFor="let recom of prescription.recomendations; let i = index"
                [recomendation]="recom"
                [del]="false"
                [indice]="i + 1"
              ></app-recom-view>
            </div>

            <div *ngIf="prescription.medicines.length > 0" class="my-1 medc">
              <div class="title">
                <fa-icon [icon]="faCapsules" class="mr-1"></fa-icon>

                <strong>Medicamentos</strong>
              </div>

              <app-medicine-view
                [del]="false"
                [medicine]="medicine"
                *ngFor="let medicine of prescription.medicines"
              ></app-medicine-view>
            </div>

            <div *ngIf="prescription.exams?.length > 0" class="my-1 exams">
              <div class="title">
                <fa-icon [icon]="faVial" class="icon mr-1"></fa-icon>
                <strong>Exames</strong>
              </div>

              <app-exam-view
                *ngFor="let exam of prescription.exams"
                [exam]="exam"
                [del]="false"
              ></app-exam-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
