<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="header">
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
      </div>
      <div class="mx-2">Receituário</div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>

      <div class="control" (click)="pageUp()">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="toogle()">
      <div class="form">
        <div class="input">
          <input type="text" name="search" placeholder="Nome do paciente" />
          <fa-icon [icon]="faSearch" (click)="search()"></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados
            <strong class="ml-1"> 4</strong>
          </div>

          <div class="wrapper">
            <div class="result">
              <div>João das Colves</div>
              <fa-icon
                [icon]="faVial"
                class="text-success cursor ml-2"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="founds">Encontrados {{ prescriptions?.length }}</div>

    <div class="wrapper-results" *ngIf="prescriptions?.length > 0">
      <div *ngFor="let prescription of prescriptions" class="prescriptions">
        <header>
          <div class="info user">
            <ng-container
              *ngIf="prescription.doctor.user.avatar?.url; else avatar"
            >
              <img [src]="prescription.doctor.user.avatar.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>
            Doutor: {{ prescription.doctor.user.fullname }}
          </div>

          <div class="info">
            <fa-icon [icon]="faFileMedical"></fa-icon>
            {{ prescription?.code }}
          </div>

          <div class="user info">
            <ng-container
              *ngIf="prescription.client.user.avatar?.url; else avatar"
            >
              <img [src]="prescription.client.user.avatar.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>
            <div class="">
              Paciente:
              {{ prescription.client.user.fullname }}
            </div>
          </div>

          <div class="info">
            <fa-icon [icon]="faCalendarDay"></fa-icon>
            {{ pretty(prescription.createdAt) }}
          </div>

          <div class="info">
            <a [routerLink]="['.', prescription.id]"
              ><fa-icon [icon]="faEdit" class="text-oposity1"></fa-icon>
            </a>
          </div>
        </header>

        <div
          class="resume"
          *ngIf="
            prescription.recommendations !== {} ||
            prescription.medicines?.length > 0 ||
            prescription.exams?.length > 0
          "
        >
          <div class="title"><strong> Resumo</strong></div>

          <div class="itens">
            <div *ngIf="prescription?.recommendations" class="my-1">
              <div>
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                <strong> Recomendações</strong>
              </div>
              <div
                *ngFor="let r of arrayFromObject(prescription.recommendations)"
              >
                <div>{{ r }}</div>
              </div>
            </div>
            <div *ngIf="prescription.medicines.length > 0" class="my-1">
              <div>
                <fa-icon [icon]="faCapsules"></fa-icon>

                <strong> Medicamentos</strong>
              </div>
              <div *ngFor="let medicine of prescription.medicines">
                <ng-container *ngIf="medicine.formula === ''; else formula">
                  {{ fmrt(medicine.substance) }}
                </ng-container>
                <ng-template #formula>
                  Formula: {{ medicine.formula }}
                </ng-template>
              </div>
            </div>

            <div *ngIf="prescription.exams?.length > 0" class="my-1">
              <div>
                <fa-icon [icon]="faVial"></fa-icon>

                <strong> Exames</strong>
              </div>
              <div *ngFor="let exam of prescription.exams">
                {{ fmrt(exam.type) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
