// @media query here
.dashboard {
  margin: 80px;
  padding-left: 80px;

  .main-data {
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(247, 209, 209, 0.1);
    margin: 20px;

    .header {
      box-shadow: 4px 4px 5px rgba(125, 125, 125, 0.4);
      width: 100%;
      height: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: var(--oposity);
      background-color: var(--doctor);

      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        fa-icon {
          font-size: 1em;
          cursor: pointer;
          margin: 0px 5px 0px 5px;
        }
      }
    }

    position: relative;

    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;

      .form {
        .results {
          background-color: var(--oposity);
          height: 100px;
          border: 1px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .label {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 12px;

            padding: 0px 10px 0px 10px;
          }

          .wrapper {
            padding: 5px 10px 5px 10px;
            overflow-y: scroll;
            width: 100%;

            .result {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              margin: 2px 0px;
              color: var(--doctor);
              padding: 2px;
              border-radius: 4px;

              &:hover {
                background-color: rgba(114, 85, 192, 0.1);
              }

              cursor: pointer;

              div div {
                font-size: 12px;
              }

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid var(--doctor);
                margin-right: 10px;
                object-fit: cover;
                margin-right: 4px;
              }
            }
          }
        }
        .input {
          margin-top: 10px;
          height: 40px;
          width: 220px;
          background-color: var(--doctor);
          color: var(--oposity);
          border: 2px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 150px;
            border-radius: 4px;
            background-color: var(--oposity);
            color: var(--doctor);
            padding: 2px;
            font-size: 14px;
            &::placeholder {
              color: var(--doctor);
              opacity: 0.6;
            }
          }
        }

        fa-icon {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }

    .founds {
      margin: 5px 0px;
      font-size: 14px;
    }

    .wrapper-results {
      overflow-y: scroll;
      padding: 10px;
      height: 600px;

      border-radius: 4px;

      .prescriptions {
        font-size: 14px;
        margin: 15px;
        border-radius: 4px;
        padding: 5px;
        border-top: none;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--oposity);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          padding: 0px 10px;
          padding-bottom: 2px;
          margin-bottom: 2px;
          border-bottom: 1px solid var(--doctor);

          .user {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-right: 10px;
              object-fit: cover;
            }
          }
        }

        .resume {
          padding: 0px 10px;
          width: 100%;
          display: flex;
          flex-direction: column;

          .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .itens {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

.cursor {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

a,
a:link {
  text-decoration: none;
  color: var(--doctor);
}
