.list {
  border: 1px solid;
  border-radius: 4px;
  margin-left: 5px;
  padding: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    fa-icon {
      font-size: 14px;
    }
  }
}
