.list {
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  .sp {
    padding: 2px 4px;
    height: 100%;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
  }

  .bts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    fa-icon {
      font-size: 12px;
    }
  }
}
