<ng-container *ngIf="isLogged(); else elseTemplate">
  <div class="action-menu d-flex h-100 align-items-center">
    <div class="buttons d-flex mx-2 h-100 align-items-center">
      <div class="m-2">
        <fa-icon [icon]="faCommentAlt" class="fa-lg badge-icon"></fa-icon>
      </div>
      <div class="m-2">
        <fa-icon [icon]="faBell" class="fa-lg badge-icon"></fa-icon>
      </div>
    </div>

    <div class="avatar-area">
      <img src="../../../assets/avatarmale.png" alt="avatar" />
    </div>
    <div class="grett mx-3">
      <span>{{ gretting() }}</span> <br />
      <span class="font-weight-bold text-medium">{{ user.user.username }}</span>
      <br />
      <span class="font-weight-bold cursor">
        <fa-icon
          [icon]="faSignOutAlt"
          (click)="logout()"
          class="text-medium"
        ></fa-icon>
      </span>
    </div>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <div class="form-inline my-2 my-lg-0">
    <button
      class="bt bt-base1 my-2 my-sm-0 mr-1 fix-button"
      type="submit"
      (click)="signup()"
    >
      SignUp
    </button>

    <button
      class="bt bt-base my-2 my-sm-0 ml-1 fix-button"
      type="submit"
      (click)="login()"
    >
      Login
    </button>
  </div>
</ng-template>
