.action-menu {
  app-badge {
    position: relative;
  }

  .cursor {
    cursor: pointer;
  }

  .avatar-area {
    position: relative;

    cursor: pointer;

    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      border: 2px solid var(--base1);
      object-fit: cover;
    }
  }
}

.online-marker {
  &::before {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--oposity1);
    background: var(--success);
    border: 2px solid green;
    content: "";
  }
}

.offline-marker {
  &::before {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--oposity1);
    background: var(--success);
    background: var(--error);
    border: 2px solid red;
    content: "";
  }
}

.hide {
  visibility: hidden;
}
