@import "../../../scss/variables";

.main-header {
  font-size: 1em;
  height: 110px;

  background-color: $oposity;

  .top-bar {
    height: 60px;
    background-color: $base;

    .header-logo {
      padding-right: 20px;
    }

    .top-bar-menu {
      color: #fff;

      .info {
        font-size: 0.7em;
      }
    }
  }

  .tool-bar {
    height: 50px;
    background-color: $oposity;
    background-color: rgba($color: #666, $alpha: 0.05);
  }

  span {
    font-size: 1.61803em;
  }

  .nav-item {
    font-size: 1em;
    font-weight: bolder;
    font-family: "Open Sans";
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}
