.in-container {
  //background-color: var(--oposity);
  height: 40px;
  width: 260px;
  display: flex;
  border-radius: 4px;
}

@mixin container($color) {
  background-color: $color;
}

@each $color, $value in $theme-colors {
  .in-container-#{$color} {
    @include container($value);
  }
}
