<app-receptionists-reschedule-modal
  #modal
  (signOut)="confirm($event)"
  [appointment]="appointment"
>
</app-receptionists-reschedule-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="month">
      <div class="control filter" *ngIf="doctor">
        Doutor &nbsp;<strong>{{ doctor.user.username }}</strong>
        <fa-icon [icon]="faTimes" class="cursor" (click)="clear()"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="prevDay()"></fa-icon>
      </div>

      <div class="control">Agendamentos para&nbsp;</div>

      <div class="">
        {{ date.getDate() }}
        {{ months[date.getMonth()] }} de {{ date.getFullYear() }}
      </div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronRight" (click)="nextDay()"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="toogle()">
      <div class="form">
        <div class="input">
          <input
            type="text"
            name="search"
            placeholder="Nome do médico"
            #username
          />
          <fa-icon [icon]="faSearch" (click)="search(username.value)"></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados
            <strong class="ml-1"> 4</strong>
          </div>

          <div class="wrapper">
            <div
              class="result"
              *ngFor="let doctor of results"
              (click)="save(doctor)"
            >
              <ng-container
                *ngIf="doctor.user.avatar?.url; else avatarTemplate"
              >
                <img [src]="doctor.user.avatar?.url" alt="avatar" />
              </ng-container>
              <ng-template #avatarTemplate>
                <img src="../../../../assets/avatarmale.png" alt="avatar" />
              </ng-template>

              <div>
                <strong>{{
                  doctor.user.surname
                    ? doctor.user.fullname
                    : doctor.user.username
                }}</strong>
                <div class="specialty">
                  {{ formatText(doctor.specialty[0]) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="appointments">
      <div *ngFor="let appointment of appointments" class="appointment">
        <div class="user-info">
          <div class="avatar">
            <ng-container
              *ngIf="appointment.client.user.avatar?.url; else avatar"
            >
              <img [src]="appointment.client.user.avatar?.url" alt="avatar" />
            </ng-container>

            <ng-template #avatar>
              <img src="../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>
          </div>

          <div class="username">
            <fa-icon [icon]="faUserTie" class="text-medium"></fa-icon>
            {{ appointment.client.user.username }}

            <div class="hours">
              <fa-icon [icon]="faClock" class="text-medium"></fa-icon>
              <div class="hour ml-1 text-medium">
                {{ appointment.hour }}h
                <fa-icon
                  [icon]="faCheck"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Agendado"
                  class="text-success cursor"
                  *ngIf="appointment.status === AppointmentStatus.ONESCHEDULE"
                ></fa-icon>

                <fa-icon
                  [icon]="faHistory"
                  class="text-medium cursor ml-1"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Reagendado"
                  *ngIf="appointment.status === AppointmentStatus.RESCHEDULED"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="user-info">
          <div class="avatar">
            <ng-container
              *ngIf="appointment.doctor.user.avatar?.url; else avatar"
            >
              <img [src]="appointment.doctor.user.avatar?.url" alt="avatar" />
            </ng-container>

            <ng-template #avatar>
              <img src="../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>
          </div>

          <div class="username">
            <fa-icon [icon]="faUserMd" class="text-medium"></fa-icon>
            {{ appointment.doctor.user.username }}
            <div class="hours">
              <fa-icon [icon]="faMedKit" class="text-medium"></fa-icon>
              <div class="hour ml-1 text-medium">
                {{ formatText(appointment.doctor.specialty[0]) }}
              </div>
            </div>
          </div>
        </div>

        <div class="appointment-info">
          <div
            class="status"
            [style.background-color]="getStatusColor(appointment.status)"
          >
            {{ appointment.status }}
          </div>
          <div class="controls">
            <fa-icon
              *ngIf="appointment.status === AppointmentStatus.REQUESTED"
              [icon]="faCheckCircle"
              class="text-success cursor"
              data-toggle="tooltip"
              data-placement="top"
              title="Confirmar"
              (click)="
                modifyAppoiment(appointment.id, AppointmentStatus.ONESCHEDULE)
              "
            ></fa-icon>
            <fa-icon
              *ngIf="
                appointment.status !== AppointmentStatus.CANCELED &&
                appointment.status !== AppointmentStatus.ATTENDED
              "
              [icon]="faHistory"
              class="text-medium cursor"
              data-toggle="tooltip"
              data-placement="top"
              title="Remarcar"
              (click)="openModal(modal, appointment)"
            ></fa-icon>
            <fa-icon
              *ngIf="
                appointment.status !== AppointmentStatus.CANCELED &&
                appointment.status !== AppointmentStatus.ATTENDED
              "
              [icon]="faTimes"
              class="text-oposity1 cursor"
              data-toggle="tooltip"
              data-placement="top"
              title="Cancelar"
              (click)="
                modifyAppoiment(appointment.id, AppointmentStatus.CANCELED)
              "
            ></fa-icon>
            <fa-icon
              *ngIf="appointment.status === AppointmentStatus.CANCELED"
              [icon]="faTrash"
              class="cursor disable"
              data-toggle="tooltip"
              data-placement="top"
              title="Apagar"
              (click)="deleteSchedule(appointment.id)"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--


   <div class="control">
        <fa-icon [icon]="faEdit" (click)="isEditing = !isEditing"></fa-icon>
        <fa-icon [icon]="faSave" (click)="save()"></fa-icon>
        <fa-icon [icon]="faShare"></fa-icon>
      </div>
-->
