// @media query here
.dashboard {
  margin: 80px;
  padding-left: 80px;

  @media screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
    margin: 40px;
    margin-top: 80px;
    padding-left: 40px;
    font-size: 14px;
  }

  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    font-size: 12px;
    margin: 40px;
    margin-top: 80px;
    padding-left: 40px;
  }

  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    font-size: 10px;
    margin: 40px;
    margin-top: 40px;
    padding-left: 20px;
  }

  @media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    margin: 0px;
    margin-top: 40px;

    padding-left: 20px;
    padding-right: 20px;
  }

  .main-data {
    width: 100%;

    background-color: var(--oposity);
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(247, 209, 209, 0.1);
    margin: 20px;

    .month {
      width: 100%;
      height: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: var(--oposity);
      background-color: var(--recept);

      @media screen and (max-device-width: 600px),
        screen and (max-width: 600px) {
        font-size: 10px;
      }

      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        fa-icon {
          font-size: 1.2em;
          cursor: pointer;
          margin: 0px 5px 0px 5px;
        }
      }
    }

    position: relative;
    .search {
      top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;

      .form {
        .results {
          background-color: var(--oposity);
          height: 100px;
          border: 1px solid var(--recept);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .label {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 12px;
            padding: 0px 10px 0px 10px;

            color: var(--recept);
          }

          .wrapper {
            padding: 5px 20px 5px 20px;
            overflow-y: scroll;
            width: 100%;

            .result {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              margin: 4px 0px;
              color: var(--recept);
              padding: 2px;
              border-radius: 4px;

              cursor: pointer;

              &:hover {
                background-color: rgba(0, 255, 255, 0.1);
              }

              div {
                overflow: hidden;

                .specialty {
                  font-size: 12px;
                }
              }

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid var(--recept);
                margin-right: 10px;
                object-fit: cover;
                margin-right: 2px;
              }
            }
          }
        }
        .input {
          margin-top: 10px;
          height: 40px;
          width: 220px;
          background-color: var(--recept);
          color: var(--oposity);
          border: 2px solid var(--recept);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 150px;
            border-radius: 4px;
            background-color: var(--oposity);
            color: var(--recept);
            padding: 2px;
            font-size: 14px;
            &::placeholder {
              color: var(--recept);
              opacity: 0.6;
            }
          }
        }

        fa-icon {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }

    .appointments {
      border: 4px;
      margin: 10px;

      .appointment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 10px 5px;

        .user-info {
          display: flex;
          align-items: center;
          justify-content: center;

          .username {
            //width: 150px;
            width: 100px;
            overflow: hidden;
            color: var(--recept);
            font-weight: bold;

            @media screen and (max-device-width: 600px),
              screen and (max-width: px) {
              width: 50px;
            }

            .hours {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: normal;

              @media screen and (max-device-width: 400px),
                screen and (max-width: 400px) {
                font-size: 5px;
              }
              @media screen and (max-device-width: 900px),
                screen and (max-width: 900px) {
                font-size: 10px;
              }
            }
          }
          .avatar {
            margin-right: 5px;
            img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              border: 1px solid var(--medium);
              object-fit: cover;

              @media screen and (max-device-width: 600px),
                screen and (max-width: 600px) {
                height: 30px;
                width: 30px;
              }
            }
          }
        }

        .appointment-info {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          .controls {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            fa-icon {
              font-size: 1.2em;
              cursor: pointer;
              margin: 2px 2px;

              &:hover {
                transform: scale(1.1);
                opacity: 0.8;
              }
            }
          }
          .status {
            color: var(--oposity);
            font-size: 12px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            height: 1.5em;
            font-weight: bold;
            width: 100%;

            @media screen and (max-device-width: 600px),
              screen and (max-width: 600px) {
              font-size: 10px;
              height: 1.2em;
            }
          }
        }
      }
    }
  }

  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    .month {
      font-size: 12px;
    }
  }

  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    padding-left: 30px;

    padding: 0px;
    margin: 0px;
    padding-top: 50px;
    padding-left: 40px;
    .month {
      font-size: 10px;
    }

    font-size: 8px;

    .username {
      font-size: 8px;
      width: 30px;
    }

    .appointments {
      .avatar-area {
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

.cursor {
  cursor: pointer;
}

.disable {
  color: rgba(125, 125, 125, 0.4);
  cursor: default;
}
