<app-receptionists-reschedule-modal #modal (signOut)="confirm($event)">
</app-receptionists-reschedule-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="month">
      <div class="control filter">
        Doutor &nbsp;<strong>Fulano</strong>
        <fa-icon [icon]="faTimes" class="cursor"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="prevWeek()"></fa-icon>
      </div>

      <div class="control">Agendamentos para&nbsp;</div>

      <div class="">
        {{ date.getDate() }}
        {{ months[date.getMonth()] }} de {{ date.getFullYear() }}
      </div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronRight" (click)="nextWeek()"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="toogle()">
      <div class="form">
        <div class="input">
          <input type="text" name="search" placeholder="Nome do médico" />
          <fa-icon [icon]="faSearch" (click)="search()"></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados
            <strong class="ml-1"> 4</strong>
          </div>

          <div class="wrapper">
            <div class="result">
              <div>João das Colves</div>
              <fa-icon
                [icon]="faUserMd"
                class="text-success cursor ml-2"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="appointments">
      <div *ngFor="let appointment of appointments" class="appointment">
        <div class="user-info">
          <div class="avatar">
            <ng-container *ngIf="appointment.client.user.avatar; else avatar">
              <img [src]="appointment.client.user.avatar?.url" alt="avatar" />
            </ng-container>

            <ng-template #avatar>
              <img src="../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>
          </div>

          <div class="username">
            <fa-icon [icon]="faUserTie" class="text-medium"></fa-icon>
            {{ appointment.client.user.username }}

            <div class="hours">
              <fa-icon [icon]="faClock" class="text-medium"></fa-icon>
              <div class="hour ml-1 text-medium">
                {{ appointment.hour }}h
                <fa-icon
                  [icon]="faCheck"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Agendado"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="user-info">
          <div class="avatar">
            <ng-container *ngIf="appointment.client.user?.avatar; else avatar">
              <img [src]="appointment.client.user.avatar?.url" alt="avatar" />
            </ng-container>

            <ng-template #avatar>
              <img src="../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>
          </div>

          <div class="username">
            <fa-icon [icon]="faUserMd" class="text-medium"></fa-icon>
            {{ appointment.client.user.username }}
            <div class="hours">
              <fa-icon [icon]="faMedKit" class="text-medium"></fa-icon>
              <div class="hour ml-1 text-medium">Clinicio Geral</div>
            </div>
          </div>
        </div>

        <div class="appointment-info">
          <fa-icon
            [icon]="faCheckCircle"
            class="text-success cursor ml-2"
            data-toggle="tooltip"
            data-placement="top"
            title="Confirmar"
          ></fa-icon>
          <fa-icon
            [icon]="faHistory"
            class="text-medium cursor ml-2"
            data-toggle="tooltip"
            data-placement="top"
            title="Remarcar"
            (click)="openModal(modal)"
          ></fa-icon>
          <fa-icon
            [icon]="faTimes"
            class="text-oposity1 cursor ml-2"
            data-toggle="tooltip"
            data-placement="top"
            title="Cancelar"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<!--


   <div class="control">
        <fa-icon [icon]="faEdit" (click)="isEditing = !isEditing"></fa-icon>
        <fa-icon [icon]="faSave" (click)="save()"></fa-icon>
        <fa-icon [icon]="faShare"></fa-icon>
      </div>
-->
