<ng-template #content let-modal>
  <div class="modal-header bg-owner">
    <h4 class="modal-title text-oposity" id="modal-basic-title">
      Editar salário
    </h4>
    <button
      type="button"
      class="close text-base"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-owner">
      Modificar salário do funcionário(a)
      <strong>{{ employee.user.username }}</strong> <br />
      CPF: <strong>{{ employee.user.cpf }}</strong>
    </p>

    <form
      [formGroup]="actionsForm"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div>
        <label class="text-owner"
          >Salário atual {{ employee.salary | currency: "BRL" }}</label
        >

        <input type="text" hidden formControlName="id" />
        <input
          type="text"
          hidden
          formControlName="diff"
          currencyMask
          [value]="sal - employee.salary"
          [options]="{
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            align: 'left'
          }"
        />

        <app-input-container
          class="in-container my-4"
          [mainColor]="'var(--owner)'"
        >
          <input
            #sal
            name="salary"
            aria-placeholder="salary"
            class="in in-medium cursor"
            formControlName="salary"
            placeholder="Novo salário"
            style="border: 2px solid var(--owner); color: var(--owner);"
            currencyMask
            [options]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',',
              align: 'left'
            }"
          />

          <div
            class="d-flex mx-2 flex-column justify-content-center align-items-center"
          >
            <fa-icon [icon]="faCoins" class="text-oposity"></fa-icon>
          </div>
        </app-input-container>
      </div>
      <div class="form-group text-owner">
        <label for="password">Sua senha de admin</label>
        <app-input-container
          class="in-container my-2"
          [mainColor]="'var(--owner)'"
        >
          <input type="text" name="username" hidden autocomplete="username" />
          <input
            formControlName="password"
            type="password"
            placeholder="Senha"
            autocomplete="off"
            class="in in-owner"
            style="border: 1px solid var(--owner); color: var(--owner);"
          />
          <div
            class="d-flex mx-2 flex-column justify-content-center align-items-center"
          >
            <fa-icon [icon]="faLock" class="text-oposity"></fa-icon>
          </div>
        </app-input-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="bt bt-owner" (click)="modal.close('cancel')">
      Cancelar
    </button>
    <button type="button" class="bt bt-base" (click)="modal.close('confirm')">
      Confirmar
    </button>
  </div>
</ng-template>
