p Olá, #{admin}
<p> Um novo orçamento foi solicitado em sua plataforma!</p>

p
  strong cliente:{{name}} 
  strong Tipo:{{type}}
  strong Data/hora:{{date}}
  br
  small Você pode responder ao cliente na sessão de orçamentos.



