<strong>Olá, {{admin}}!</strong>
<p style="color: blueviolet">Relatório mensal!</p>
<p>
  <strong>Novos clientes: {{clientes}}<br /></strong>
  <strong>Novos pedidos de consulta: {{budgets}}<br /></strong>
  <strong>Novos doutores: {{projects}}<br /></strong>
  <strong>Novos atendimentos: {{curriculums}}<br /></strong>
  <strong>Data/hora: {{date}}<br /></strong>
  <br />
  <small>
    Para mais informações consultar o seu dasboard em:
    <a href="https://www.medrouter.com"></a>
  </small>
</p>
