<strong>Olá, {{admin}}!</strong>
<p style="color: blueviolet">Relatório mensal!</p>
<p>
  <strong>Novos clientes: {{clientes}}<br /></strong>
  <strong>Novos pedidos de orçamento: {{budgets}}<br /></strong>
  <strong>Novos projetos: {{projects}}<br /></strong>
  <strong>Novos curriculos: {{curriculums}}<br /></strong>
  <strong>Data/hora: {{date}}<br /></strong>
  <br />
  <small>
    Para mais informações consultar o seu dasboard em:
    <a href="https://www.reformadossonhos.com.br/dashboard"></a>
  </small>
</p>
