<strong>Olá, {{admin}}!</strong>
<p style="color: blueviolet">Um chamado foi aberto pelo cliente {{name}}!</p>
<p>
  <strong>Email para contato: {{email}}<br /></strong>
  <strong>Telefone para contato: {{phonnumber}}<br /></strong>
  <strong>mensagem: {{msg}}<br /></strong>
  <strong>Assunto: {{type}}<br /></strong>
  <strong>Data/hora: {{date}}<br /></strong>
  <br />
  <small>
    Um email de confirmação de cadastro foi enviado para o novo cliente.
  </small>
</p>