doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")

      style       
        include ./styles/global.css
        include ./styles/components/header.css
        include ./styles/components/footer.css
        include ./styles/pages/wellcome.css

  body
    table.table(cellpadding="0" cellspacing="0" )
      tr
        td
          include ./components/header.pug   
      tr
        td  
          p(class='gret') Ola, 
            p(class='admin') #{data.username}
      tr
        td
          p Bem vindo a C&amp;V Reformas e Construções! 
      tr
        td
          p Fique a vontade para nos enviar seus pedidos !    

      tr
        td
          p Seu nome de usuário é: <p class='enfase'>#{data.email}</p>
      tr
        td
          p Sua senha provisória é: <p class='enfase'>#{data.password}</p>

      tr
        td
          p Por favor click no link abaixo para acessar sua área pessoal e atualizar sua senha!

      tr 
        td
          p 
            button 
              a(href="https://reformadossonhos.com.br/signin") Confirmar meu cadastro 
      include ./components/footer.pug    


