<app-clients-add-appointment #modal></app-clients-add-appointment>

<div class="main-data text-oposity">
  <div class="month">
    <div class="control">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </div>

    <div class="control">Médicos</div>

    <div class="control">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </div>
    <div class="control">
      <input
        type="text"
        placeholder="Encontre seu médico"
        class="in in-client"
      />
      <fa-icon
        [icon]="faSearch"
        class="ml-2"
        (click)="handleSearch()"
      ></fa-icon>

      <!--  <fa-icon [icon]="faFilter" class="ml-2"></fa-icon>-->
    </div>
  </div>

  <div class="text-base ml-1">Resultados {{ searchResult.length }}</div>

  <div class="results">
    <div class="doc" *ngFor="let doctor of searchResult">
      <div class="avatar">
        <ng-container *ngIf="doctor.user.avatar?.url; else elseTemplate">
          <img [src]="doctor.user.avatar.url" alt="avatar"
        /></ng-container>
        <ng-template #elseTemplate>
          <img src="../../../../assets/avatarmale.png" alt="" />
        </ng-template>
      </div>

      <div class="name">
        <strong>{{ doctor.user.fullname }}</strong>
      </div>

      <div class="spcly d-flex flex-wrap">
        <fa-icon [icon]="faUserMd" class="mr-1"></fa-icon>
        <div *ngFor="let item of doctor.specialty">{{ item }}</div>
      </div>

      <div class="ratting">
        <fa-icon
          [icon]="faStar"
          class="mr-1"
          *ngFor="let star of stars"
        ></fa-icon>
      </div>

      <div class="app" (click)="addAppointment(modal)">
        <button>Agendar</button>
      </div>
    </div>
  </div>
</div>
