<div
  class="form-group d-flex align-itens-center justify-content-center h-100 main"
  [class.has-success]="hasSuccess()"
  [class.has-error]="hasError()"
  [style.background-color]="mainColor"
>
  <ng-content [style.background-color]="mainColor"> </ng-content>

  <div
    class="d-flex flex-column justify-content-center align-itens-center aside"
    [style.background-color]="mainColor"
  >
    <span class="text-oposity" *ngIf="tick && hasSuccess()">
      <fa-icon [icon]="faCheck"></fa-icon>
    </span>
    <span class="text-oposity1" *ngIf="tick && hasError()">
      <fa-icon [icon]="faTimes"></fa-icon> {{ errorMessage }}</span
    >
  </div>
</div>
