<div class="chat">
  <header *ngIf="state !== 1 && state !== 2">
    <div class="controls">
      <!--
      <ng-container *ngIf="state === 0; else ended">
        <div class="control" (click)="state = 4">Pronto</div>
      </ng-container>
      <ng-template #ended>
        <div class="control" (click)="state = 0">Editar</div>
      </ng-template>

      -->

      <div class="control" (click)="state = 4">Chats</div>

      <div class="control edit">
        <fa-icon [icon]="faEdit" (click)="state = 2"> </fa-icon>
      </div>
    </div>

    <div class="search">
      <fa-icon [icon]="faSearch"></fa-icon>
      <div class="search-input">
        <input
          type="text"
          placeholder="Messagens ou usuários"
          [disabled]="state === 0"
        />
      </div>
    </div>
  </header>

  <header *ngIf="state === 2">
    <div class="controls">
      <div class="control" (click)="state = 4">Cancelar</div>
    </div>

    <div class="search">
      <fa-icon [icon]="faSearch"></fa-icon>
      <div class="search-input">
        <input type="text" placeholder="Buscar" [disabled]="state === 0" />
      </div>
    </div>
  </header>

  <div *ngIf="state === 1" class="msgs">
    <div class="controls">
      <div class="control" (click)="return()">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </div>
    </div>

    <div class="controls">
      <div class="control">
        {{ receiver?.surname ? receiver.fullname : receiver.username }}
      </div>
    </div>

    <div class="controls">
      <div
        class="img avatar-area"
        [ngClass]="{
          'online-marker': receiver.online,
          'offline-marker': !receiver.online
        }"
      >
        <ng-container *ngIf="receiver?.avatar; else avatar">
          <img [src]="receiver?.avatar" alt="avatar" />
        </ng-container>

        <ng-template #avatar>
          <img src="../../../assets/avatarmale.png" alt="avatar" />
        </ng-template>
      </div>
    </div>
  </div>

  <div class="results" *ngIf="state === 2">
    <div class="result">
      <div class="lead">
        <div class="img avatar-area">
          <ng-container *ngIf="sender?.avatar; else avatar">
            <img [src]="sender.avatar" alt="avatar" />
          </ng-container>

          <ng-template #avatar>
            <img src="../../../assets/avatarmale.png" alt="avatar" />
          </ng-template>
        </div>
        <div class="info">
          <div class="username">Fulano Gostosão</div>
          <div class="short-msg">Nunca entrou...</div>
        </div>
      </div>
    </div>
  </div>

  <div class="results" *ngIf="state !== 1 && state !== 2">
    <div class="result" (click)="selectChat(user)" *ngFor="let user of users">
      <div class="remove" *ngIf="state === 0">
        <fa-icon [icon]="faTrash"></fa-icon>
      </div>
      <div class="lead">
        <div
          class="img avatar-area"
          [ngClass]="{
            'online-marker': user.online,
            'offline-marker': !user.online
          }"
        >
          <ng-container *ngIf="user?.avatar; else avatar">
            <img [src]="user?.avatar" alt="avatar" />
          </ng-container>

          <ng-template #avatar>
            <img src="../../../assets/avatarmale.png" alt="avatar" />
          </ng-template>
        </div>
        <div class="info">
          <div class="username">
            {{ user?.surname ? user.fullname : user.username }}
          </div>
          <div class="short-msg">
            {{ lastMessage(user?.messages) }}
          </div>
        </div>
      </div>
      <div class="tail">
        <div class="date">
          {{ formatDay(user?.messages[user.messages.length - 1]?.date) }}
        </div>
        <div
          class="new-msg"
          [ngClass]="countUnread(user.messages) == 0 ? 'hide' : ''"
        >
          {{ countUnread(user.messages) }}
        </div>
      </div>
    </div>
  </div>

  <div class="msg-area" *ngIf="state === 1">
    <div
      *ngFor="let msg of receiver.messages"
      [ngClass]="msg.left ? 'left' : 'right'"
    >
      <div class="msg">
        {{ msg.message }}
        <div class="msg-hour">
          <div>{{ formatDay(msg.date) }}</div>
        </div>
      </div>
    </div>
  </div>

  <footer *ngIf="state === 1">
    <div>
      <textarea
        #msg
        type="text"
        placeholder="Digite sua mensagem"
        [formControl]="message"
      >
      </textarea>
    </div>

    <fa-icon [icon]="faSend" (click)="send(msg.value)"></fa-icon>
  </footer>
</div>
