<div class="home d-flex flex-column justify-content-between h-100 w-100">
  <app-header class="mb-2"></app-header>
  <a name="top"></a>
  <app-appointment-confirm-modal
    [appointmentResume]="appRequest"
    #modal
    (send)="appForm.send($event)"
  ></app-appointment-confirm-modal>

  <div class="main w-100">
    <!--Appointment form-->
    <app-appointment-form
      #appForm
      [isOpen]="showForm"
      (openModal)="showModalConfirmation($event, modal)"
    ></app-appointment-form>
    <!--Appointment form-->

    <div class="main-home w-100">
      <div class="container bannner d-flex align-items-center">
        <div class="col-md-4 col-sm-12">
          <div class="text-oposity1 services">
            <a name="appointments"></a>
            <div>
              <strong class="text-medium">A melhor</strong>&nbsp;clínica feita
              sob medida<strong class="text-medium"> para você!</strong>
            </div>
          </div>
          <div class="d-flex my-2">
            <button class="btn btn-oposity1 text-white" (click)="show()">
              <a href="#top"> Quero marcar uma consulta</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Home Cards-->
    <div
      class="py-1 d-sm-flex flex-sm-column align-items-sm-center px-sm-5 mx-lg-2 px-md-5 mx-md-5 justify-content-lg-between flex-md-wrap d-md-flex flex-md-row d-lg-flex"
    >
      <app-homecards
        *ngFor="let card of cards"
        [data]="card"
        class="p-1 m-1"
      ></app-homecards>
    </div>

    <!--Home Cards-->

    <!--Professionals -->
    <app-professionals-cards class="p-2 m-2"></app-professionals-cards>
    <!--Professionals -->

    <!--Info Area-->

    <div class="main-home-body bg-oposity my-5">
      <div class="container">
        <div class="d-flex justify-content-center my-3">
          <a name="information"></a>
          <div class="text-base pacient-title">
            Informações aos nossos clientes
          </div>
        </div>

        <div class="d-md-flex d-sm-flex flex-sm-column flex-md-row">
          <div
            class="grow col-md-4 col-sm-12 text-justify card m-2 d-flex flex-column align-items-center"
          >
            <h5 class="mt-1">Remarcação de consultas</h5>
            <span class="my-2 icon">
              <fa-icon [icon]="faCalendarTimes" size="4x"></fa-icon>
            </span>

            Remarcações automáticas de consultas poderão ser feitas com pelo
            menos 24horas horas de antecedencia.
          </div>
          <div
            class="grow col-md-4 col-sm-12 text-justify card m-2 d-flex flex-column align-items-center"
          >
            <h5 class="mt-1">Resultados de exames</h5>
            <span class="my-2 icon">
              <fa-icon [icon]="faFileMedical" size="4x"></fa-icon>
            </span>

            Resultados de exames quando liberados pelo seu médico estarão
            disponíveis em sua área pessoal.
          </div>
          <div
            class="grow col-md-4 col-sm-12 text-justify card m-2 d-flex flex-column align-items-center"
          >
            <h5 class="mt-1">Telemedicina</h5>
            <span class="my-2 icon">
              <fa-icon [icon]="faLaptopMedical" size="4x"></fa-icon>
            </span>

            Nossa clinínica dispõe de serviço de telemedicina, a sua consulta
            pode ser solicitada na sua área exclusiva.
          </div>
        </div>

        <div class="d-md-flex d-sm-flex flex-sm-column flex-md-row">
          <div
            class="grow col-md-4 col-sm-12 text-justify card m-2 d-flex flex-column align-items-center"
          >
            <h5 class="mt-1">Agendamentos online</h5>
            <span class="my-2 icon">
              <fa-icon [icon]="faCalendarPlus" size="4x"></fa-icon>
            </span>

            Para clientes recorrentes o agendamento online está disponível em
            sua agenda de consultas.
          </div>
          <div
            class="grow col-md-4 col-sm-12 text-justify card m-2 d-flex flex-column align-items-center"
          >
            <h5 class="mt-1">Pagamentos</h5>
            <span class="my-2 icon">
              <fa-icon [icon]="faFileInvoiceDollar" size="4x"></fa-icon>
            </span>

            Seu relatório de despesas médicas está disponível em seu dashboard
            com atraso de atualização de no máximo 24 horas.
          </div>
          <div
            class="grow col-md-4 col-sm-12 text-justify card m-2 d-flex flex-column align-items-center"
          >
            <h5 class="mt-1">Plantão</h5>
            <span class="my-2 icon">
              <fa-icon [icon]="faBusinessTime" size="4x"></fa-icon>
            </span>

            A plantão está disponível para nossos clientes 24h por dia e 7 dias
            por semana.
          </div>
        </div>
      </div>
    </div>

    <!--Info Area-->

    <!--MainFooter-->

    <app-main-footer></app-main-footer>
    <!--MainFooter-->
  </div>
  <app-footer class="bg-base w-100 shadow text-white"></app-footer>
</div>
