.profile {
  width: 800px;
  height: 550px;
  background-color: var(--oposity);

  border-radius: 4px;

  padding: 20px;

  box-shadow: 4px 4px 4px rgba(122, 122, 122, 0.2);
  .avatar {
    img {
      height: 350px;
      width: 300px;
      object-fit: cover;
      border-radius: 2px;
      border: 2px solid var(--profile);
    }
  }

  .client {
    border-bottom: 2px solid var(--profile);
    width: 100%;

    font-weight: bold;
    padding: 5px 0px 5px 0px;
  }

  .role {
    font-size: 12px;
    padding: 5px 0px 5px 0px;
  }

  .ranking {
    padding: 5px 0px 5px 0px;
    color: var(--oposity1);
  }

  .about-title {
    margin: 10px 0 10px 0;
    width: 100%;
    border-bottom: 2px solid var(--profile);
  }
}

.wrapper-component {
  height: 80%;
  margin: 80px;
  padding-left: 80px;

  color: var(--profile);
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .username {
    font-size: 26px;
    font-weight: bold;
  }
  .location {
    opacity: 0.6;
    font-size: 14px;
    margin-left: 20px;
  }
}

#template {
  img {
    background-image: url("../../../../assets/avatarmale.png");
  }
}
