<div
  *ngIf="toast && toast"
  class="snackbar p-0 d-flex flex-column justify-content-between my-3"
  [@toast-visibility]="toast.getStatus()"
  [style.background-color]="toast.style.bg"
  [style.color]="toast.style.color"
>
  <div class="msg d-flex align-items-center justify-content-between px-1 pl-3">
    <span>{{ toast.message }}</span>
    <div class="h-100 d-flex flex-column justify-content-start">
      <fa-icon class="mx-1 icon" [icon]="faTimes" (click)="hide()"></fa-icon>
    </div>
  </div>

  <div class="bar">
    <div
      [@load]="{
        value: toast.getStatus(),
        params: { load: toast.timer }
      }"
      class="load"
      [style.background-color]="toast.style.bg"
    ></div>
  </div>
</div>
