.text-base {
  font-size: 2.2em;
  font-weight: bold;
}

.buttons button {
  border: 4px solid var(--medium);
  background-color: var(--medium);
  color: var(--medium);
  border-radius: 4px;
  width: 10px;
  height: 3px;

  &.selected {
    border: 4px solid var(--base);
    background-color: var(--base);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.bookmark {
  position: relative;
  margin-bottom: -90px;
  left: -40px;
  height: 70px;
  width: 10px;
  padding: 0px;
  -webkit-transform: rotate(0deg) skew(0deg);
  transform: rotate(0deg) skew(0deg);
  border-left: 20px solid var(--base);
  border-right: 20px solid var(--base);
  border-bottom: 20px solid transparent;
}

.arrow-icon {
  cursor: pointer;
  color: var(--base);
}

.cards {
  overflow: hidden;
}

.pro-title {
  font-size: 2em;
  @media screen and (max-device-width: 640px), screen and (max-width: 640px) {
    font-size: 0.8em;
  }
}
