<app-managers-receptionists-edit
  #editModal
  (signOut)="diff($event)"
  [employee]="employee"
>
</app-managers-receptionists-edit>

<app-managers-receptionists-dismiss-modal
  #removeModal
  (signOut)="dismiss($event)"
  [employee]="employee"
>
</app-managers-receptionists-dismiss-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-admin">
    <form [formGroup]="searchForm" class="search-form">
      <label for="search" class="text-admin d-none d-md-flex">
        <fa-icon [icon]="faConciergeBell" class="text-admin"></fa-icon>
        Equipe de Atendimento</label
      >

      <div class="d-flex align-items-center">
        <input
          formControlName="search"
          type="text"
          placeholder="Nome do funcionário"
          autocomplete="off"
          class="text-admin"
        />
        <div
          class="cursor text-admin d-flex align-items-center justify-content-between"
        >
          <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
          <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
          <div class="ml-2">{{ page }}</div>
          <fa-icon [icon]="faChevronRight" (click)="pageUp()"></fa-icon>
        </div>
      </div>
    </form>

    <div class="data">
      <div class="results">
        <div
          class="result active"
          *ngFor="let receptionist of receptionists"
          [ngClass]="{ dismiss: !receptionist.ishired }"
        >
          <div class="d-flex justify-content-start align-items-center">
            <ng-container
              *ngIf="receptionist.user.avatar?.url; else avatarTemplate"
            >
              <img [src]="receptionist.user.avatar?.url" alt="avatar" />
            </ng-container>
            <ng-template #avatarTemplate>
              <img src="../../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>

            <div class="d-flex aling-items-center flex-column text-admin">
              <div class="username">{{ receptionist.user.username }}</div>
              <div>
                <fa-icon [icon]="faCalendarPlus" class="mr-1"> </fa-icon>
                {{ receptionist.hireddate | date: "shortDate" }}
              </div>

              <div>
                {{ receptionist.salary | currency: "BRL" }}
              </div>
            </div>
          </div>

          <div class="actions">
            <ng-container *ngIf="receptionist.ishired; else notHired">
              <fa-icon
                [icon]="faEdit"
                class="mr-2 cursor text-medium"
                (click)="edit(editModal, receptionist)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Editar Salário"
              ></fa-icon>
              <fa-icon
                [icon]="faTimes"
                class="cursor text-oposity1"
                (click)="remove(removeModal, receptionist)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Dispensar"
              ></fa-icon>
            </ng-container>
            <ng-template #notHired>
              <fa-icon
                [icon]="faPlus"
                class="mr-2 cursor text-success"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Recontratar"
                (click)="rehire(receptionist.id)"
              ></fa-icon>
              <fa-icon
                [icon]="faTrash"
                class="cursor text-gray"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Remover"
              ></fa-icon>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
