.wrapper-component {
  margin: 80px;
  padding-left: 80px;

  min-height: 400px;

  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    margin: 0;
    font-size: 14px;

    padding-left: 80px;
    margin-top: 80px;
    padding-left: 20px;

    .profile {
      width: 100%;
    }
  }

  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    font-size: 10px;
    margin-top: 40px;
  }

  @media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    font-size: 10px;
    margin-top: 40px;
    margin-left: 20px;
  }

  .profile {
    background-color: var(--oposity);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(122, 122, 122, 0.2);
  }
}

.bt {
  height: 35px;
  width: 100px;
}

.buttons-container {
  border: 2px solid var(--profile);
}

.cursor {
  cursor: pointer;
}

.options {
  height: 100px;
  background-color: var(--profile);
}
