.main {
  margin-top: 10%;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  background-color: var(--medium);
  div img {
    height: 100px;
    width: 100px;
  }

  .body {
    button {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .bar {
    visibility: hidden;
    overflow: hidden;
    background-color: var(--oposity);
    border-radius: 4px;
    height: 12px;
    opacity: 0.8;

    .load {
      background-color: var(--medium);
      height: 100%;
      width: 100%;
      font-size: 8px;
      font-weight: bold;
      color: var(--base);
    }
  }
}

.isLoading {
  animation: loading 2s ease-in-out;
}

.isVisible {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
