<!--MainFooter-->
<div class="main-home-footer bg-base w-100">
  <div
    class="container d-md-flex d-sm-flex flex-sm-column flex-md-row py-1 text-oposity"
  >
    <a name="contacts"></a>
    <div class="col-md-4 col-sm-12 my-1 text-justify">
      <h3 class="text-base1">Sobre a Clínica</h3>
      MedRouter é uma clínica de soluções médicas multidisciplinares que atua há
      10 anos no mercado e possui em seus quadros mais de 50 Médicos
      Especialistas.
    </div>
    <div class="col-md-4 col-sm-12 my-1 text-justify">
      <h3 class="text-base1">Telefones</h3>
      <span class="border-text">Recepção: +55 21 98989 9999</span> <br />
      <span class="border-text">Administração: +55 21 98989 9999</span> <br />
      <span class="border-text">Financeiro: +55 21 98989 9999</span> <br />
    </div>

    <!-- Social midias -->
    <div class="col-md-4 col-sm-12 my-1 text-justify">
      <h3 class="text-base1">Mídias Sociais</h3>

      <span class="border-text">
        <fa-icon [icon]="faInstagram" class="mr-1 icon"></fa-icon>
        www.instagram.com/MedRouter</span
      >
      <br />
      <span class="border-text"
        ><fa-icon [icon]="faFacebook" class="mr-1 icon"></fa-icon>
        www.facebook.com/MedRouter</span
      >
      <br />
      <span class="border-text">
        <fa-icon [icon]="faWhatsapp" class="mr-1 icon"></fa-icon> + 55 21 98989
        8989</span
      >
      <br />
    </div>
    <!-- end of social midias-->
  </div>

  <div
    class="container d-md-flex d-sm-flex flex-sm-column flex-md-row py-1 text-oposity"
  >
    <div class="col-md-4 col-sm-12 my-1 text-justify">
      <h3 class="text-base1">Endereço</h3>
      Rua das Lambretas, 43, Rocha, Rio de Janeiro/RJ <br />
      Cep: 20869-978
    </div>
    <div class="col-md-4 col-sm-12 my-1 text-justify">
      <h3 class="text-base1">Emails</h3>
      <span class="border-text">Administração: ceo@medrouter.com.br</span>
      <br />
      <span class="border-text">Recepção: recepcao@medrouter.com.br</span>
      <br />
      <span class="border-text">Ouvidoria: ouvir@medrouter.com.br</span>
      <br />
      <span class="border-text">Financeiro: financeiro@medrouter.com.br</span>
      <br />
    </div>
    <!-- Logo -->

    <div
      class="col-md-4 col-sm-12 my-1 d-flex align-itens-center justify-content-center"
    >
      <div class="d-flex align-items-center justify-center">
        <img src="../../assets/logo.svg" alt="logo" class="logo-footer" />
        <span class="text-white ml-2 font-weight-bolder text-logo-footer"
          >MedRouter</span
        >
      </div>
    </div>
  </div>
</div>
