<div *ngFor="let option of options" class="text-oposity">
  <label class="text-oposity">
    <div
      class="option"
      [ngClass]="{ chosen: option.value === value }"
      [style.background-color]="option.value === value ? bgBase : bgOposity"
      (click)="setValue(option.value)"
    >
      <div
        class="center"
        [style.background-color]="option.value === value ? bgBase : bgColor"
        [style.border-color]="bgColor"
      ></div>
    </div>
    <div>{{ option.label }}</div>
  </label>
</div>

<!--- [ngStyle]="{ border: '3px solid red' }"
        [ngStyle]="{ 'background-color': 'blue' }"-->
