<div class="bg w-100 d-flex">
  <div class="tool-bar h-100">
    <div class="too-bar-content">
      <div class="logo">
        <a routerLink="/">
          <img src="../../../assets/logo.svg" alt="logo" />
        </a>
      </div>
      <div class="tool-bar-menu d-flex flex-column align-items-center">
        <div class="my-3">
          <fa-icon [icon]="faHome" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faUser" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faFileMedical" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faPoll" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faCalendarCheck" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faBookMedical" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faFileInvoiceDollar" class="fa-lg"></fa-icon>
        </div>
        <div class="my-2">
          <fa-icon [icon]="faPowerOff" class="fa-lg"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <div class="container d-flex justify-content-end h-100">
        <div class="action-menu d-flex h-100 align-items-center">
          <button class="bt bt-oposity1 mx-3 bad">
            <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
            Marcar uma consulta
          </button>
          <div class="buttons d-flex mx-2 h-100 align-items-center">
            <div class="m-2">
              <fa-icon [icon]="faCommentAlt" class="fa-lg badge-icon"></fa-icon>
            </div>
            <div class="m-2">
              <fa-icon [icon]="faBell" class="fa-lg badge-icon"></fa-icon>
            </div>
          </div>

          <div class="avatar-area">
            <img src="../../../assets/avatarmale.png" alt="avatar" />
          </div>
          <div class="grett mx-3">
            <span>Boa tarde</span> <br />
            <span class="font-weight-bold text-medium">{{
              user.user.username
            }}</span>
            <br />
            <span class="font-weight-bold cursor">
              <fa-icon
                [icon]="faSignOutAlt"
                (click)="logout()"
                class="text-medium"
              ></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div
          class="main-info d-flex flex-column align-items-center justify-content-center"
        >
          <app-doctors-search class="my-1"></app-doctors-search>

          <div class="main-data main mt-4">reports</div>
        </div>

        <!--Inicio do aside -->
        <div
          class="main-info d-flex flex-column align-items-center justify-content-center"
        >
          <app-appointments-summary class="my-1"></app-appointments-summary>

          <app-notifications-sumary class="mt-4"></app-notifications-sumary>
        </div>

        <!-- fim do aside-->
      </div>
    </div>
  </div>
</div>
