<app-receptionists-create-appointment-modal
  #modal
  (signOut)="confirm($event)"
  [appointment]="newAppointment"
>
</app-receptionists-create-appointment-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="month">
      <div class="control filter" *ngIf="doctor?.user.username">
        <fa-icon [icon]="faUserMd"></fa-icon>
        &nbsp;<strong>{{ doctor.user.username }}</strong>
        <fa-icon [icon]="faTimes" class="cursor" (click)="clear()"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="prevWeek()"></fa-icon>
      </div>

      <div class="control d-none d-md-flex">Agenda para&nbsp;</div>

      <div class="">
        {{ months[today.getMonth()] }} de {{ today.getFullYear() }}
      </div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronRight" (click)="nextWeek()"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="toogle()">
      <div class="form">
        <div class="header-search">
          <input
            type="text"
            name="search"
            placeholder="Nome do médico"
            #username
          />
          <fa-icon [icon]="faSearch" (click)="search(username.value)"></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados
            <strong class="ml-1"> {{ doctors?.length }}</strong>
          </div>

          <div class="wrapper">
            <div
              class="result"
              *ngFor="let doctor of doctors"
              (click)="
                getSchedule(doctor, getSunday(today), getSaturday(today))
              "
            >
              <ng-container
                *ngIf="doctor.user.avatar?.url; else avatarTemplate"
              >
                <img [src]="doctor.user.avatar?.url" alt="avatar" />
              </ng-container>
              <ng-template #avatarTemplate>
                <img src="../../../../assets/avatarmale.png" alt="avatar" />
              </ng-template>

              <div>
                <strong>{{
                  doctor.user.surname
                    ? doctor.user.fullname
                    : doctor.user.username
                }}</strong>
                <div class="specialty">
                  {{ textAdjust(doctor.specialty[0]) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="days">
      <div class="day-wrapper" *ngFor="let day of days">
        <div class="header-day">
          <div class="text-recept">{{ day.name }}</div>
          <div class="number-day" [ngClass]="{ today: checkToday(day.date) }">
            {{ day.day }}
          </div>
        </div>

        <div
          *ngFor="let hour of day.hours"
          class="hour"
          [ngClass]="{ past: past(day, hour) }"
        >
          <div
            *ngIf="!hour.available"
            class="scheduled"
            [ngClass]="{ busy: hour.busy }"
            (click)="
              !past(day, hour) &&
                !hour.available &&
                !hour.busy &&
                showModal(modal, day, hour, doctor)
            "
          >
            {{ hour.hour }}
          </div>
          <fa-icon
            [icon]="faCalendarPlus"
            [style.color]="
              past(day, hour) ? 'rgba(125,125,125,0.4)' : 'var(--success)'
            "
            data-toggle="tooltip"
            data-placement="top"
            title="Marcar Consulta"
            *ngIf="!hour.available && !hour.busy"
          ></fa-icon>

          <fa-icon
            [icon]="faCalendarPlus"
            [style.color]="'#fff'"
            *ngIf="!hour.available && hour.busy"
            class="no-pointer"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
