<div class="tool-bar h-100" [style.background-color]="bg">
  <div class="too-bar-content">
    <div class="page-icon">
      <fa-icon
        [icon]="menuLinks[role].icon"
        size="2x"
        class="text-oposity"
      ></fa-icon>
    </div>

    <div class="tool-bar-menu d-flex flex-column align-items-center">
      <div class="my-3" *ngFor="let icon of menuIcons">
        <a [routerLink]="icon.path">
          <fa-icon [icon]="icon.icon" class="fa-lg"></fa-icon>
        </a>
      </div>

      <div class="logo-icon my-3">
        <a [routerLink]="['/']">
          <img src="../../../assets/logo.svg" alt="logo"
        /></a>
      </div>
    </div>
  </div>
</div>
