.tool-bar {
  z-index: 10;
  width: 80px;

  border-radius: 0px 0px 4px 4px;

  .page-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;

    min-height: 50px;

    a {
      fa-icon {
        font-size: 1.6rem;
      }
    }
  }

  @media screen and (max-device-width: 640px), screen and (max-width: 640px) {
    width: 40px;

    .page-icon {
      a {
        fa-icon {
          font-size: 0.8rem;
        }
      }
    }
  }

  position: fixed;

  box-shadow: 3px 3px 12px -3px rgba(0, 0, 0, 0.7);

  .text-oposity {
    transform: scale(1.5);
  }

  .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .tool-bar-menu {
    a {
      color: #fff;
    }
    div {
      cursor: pointer;
      color: var(--oposity);
      &:hover {
        color: var(--medium);
        transform: scale(1.3);
      }
    }
  }
}

.cursor {
  cursor: pointer;
}
