<div class="tool-bar pc" [style.background-color]="bg" [style.height]="height">
  <div class="too-bar-content" #toolBarMenu>
    <div class="page-icon cursor" (click)="toogle()">
      <a [routerLink]="link">
        <fa-icon
          [icon]="menuLinks[role].icon"
          size="2x"
          class="text-oposity"
        ></fa-icon>
      </a>
    </div>

    <div
      class="tool-bar-menu d-flex flex-column align-items-center"
      *ngIf="showNavigation"
    >
      <div class="my-3" *ngFor="let icon of menuIcons">
        <a [routerLink]="icon['path']">
          <fa-icon [icon]="icon.icon" class="fa-lg"></fa-icon>
        </a>
      </div>

      <div class="logo-icon my-3">
        <a [routerLink]="['/']">
          <img src="../../../assets/logo.svg" alt="logo"
        /></a>
      </div>
    </div>
  </div>
</div>
