.tool-bar {
  z-index: 10;
  width: 80px;
  //min-height: 80px;
  height: 100%;
  position: fixed;

  box-shadow: 3px 3px 12px -3px rgba(0, 0, 0, 0.7);

  .text-oposity {
    transform: scale(1.5);
  }

  .page-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
  }

  .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .tool-bar-menu {
    a {
      color: #fff;
    }
    div {
      cursor: pointer;
      color: var(--oposity);
      &:hover {
        color: var(--medium);
        transform: scale(1.3);
      }
    }
  }
}
