<app-owners-employee-edit-modal
  #editDoctorModal
  (signout)="remove($event)"
  [receptionist]="receptionist"
>
</app-owners-employee-edit-modal>

<app-owners-employee-dismiss-modal
  #removeEmpolyeModal
  (signout)="remove($event)"
  [receptionist]="receptionist"
>
</app-owners-employee-dismiss-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-admin">
    <form [formGroup]="searchForm" class="search-form">
      <label for="search" class="text-owner">
        <fa-icon [icon]="faUserMd" class="text-owner"></fa-icon>
        Equipe médica da clínica</label
      >

      <div class="d-flex">
        <input
          formControlName="search"
          type="text"
          placeholder="Nome do funcionário"
          autocomplete="off"
          class="text-owner"
        />
        <div class="cursor text-owner">
          <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
        </div>
      </div>
    </form>

    <div class="data">
      <div class="table-header text-owner">
        <div>Funcionário</div>
        <div>Contratado em:</div>
        <div>
          Salário
        </div>
        <div>
          Especialidades
        </div>
        <div>Editar</div>
      </div>

      <div class="results">
        <div class="result">
          <div class="d-flex flex-start align-items-center text-base1">
            <img src="../../../../assets/avatarmale.png" alt="avatar" />

            <span>João da Silva</span>
          </div>
          <div class="text-base1">
            <fa-icon [icon]="faCalendarPlus"> </fa-icon>
            23/02/2019
          </div>

          <div class="text-base1">
            <fa-icon [icon]="faCoins"> </fa-icon> R$ 2000,00
          </div>

          <div class="text-base1">
            <fa-icon
              [icon]="faEdit"
              class="cursor text-medium"
              (click)="toogle()"
            ></fa-icon>
            <fa-icon [icon]="faSave" class="ml-1 cursor text-success"></fa-icon>
            <ng-container *ngIf="edit; else editSM">
              <app-mult-selector-drop-drown
                [width]="'180px'"
                [height]="'30px'"
                [states]="medicalSp"
                [mainColor]="mainColor"
              ></app-mult-selector-drop-drown>
            </ng-container>
            <ng-template #editSM>
              Cardiologista, Obstetricia, Homeopatia
            </ng-template>
          </div>
          <div class="actions">
            <a [routerLink]="['/profile', 1]">
              <fa-icon
                [icon]="faUserEdit"
                class="mr-2 cursor text-profile"
              ></fa-icon
            ></a>

            <fa-icon
              [icon]="faEdit"
              class="mr-2 cursor text-medium"
              (click)="editDoctors(editDoctorModal)"
            ></fa-icon>
            <fa-icon
              [icon]="faTimes"
              class="cursor text-oposity1"
              (click)="removeEmployer(removeEmpolyeModal)"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
