<app-owners-employee-edit-modal
  #editModal
  (signOut)="diff($event)"
  [employee]="employee"
>
</app-owners-employee-edit-modal>

<app-owners-employee-dismiss-modal
  #removeModal
  (signOut)="dismiss($event)"
  [employee]="employee"
>
</app-owners-employee-dismiss-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-admin">
    <form [formGroup]="searchForm" class="search-form">
      <label for="search" class="text-owner">
        <fa-icon [icon]="faUserMd" class="text-owner"></fa-icon>
        Equipe médica da clínica</label
      >

      <div class="d-flex align-items-center">
        <input
          formControlName="search"
          type="text"
          placeholder="Nome do funcionário"
          autocomplete="off"
          class="text-owner"
        />
        <div
          class="cursor text-owner d-flex align-items-center justify-content-between"
        >
          <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
          <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
          <div class="ml-2">{{ page }}</div>
          <fa-icon [icon]="faChevronRight" (click)="pageUp()"></fa-icon>
        </div>
      </div>
    </form>

    <div class="data">
      <div class="table-header text-owner">
        <div class="d-flex justify-content-start">Funcionário</div>
        <div>Contratado em:</div>
        <div>
          Salário
          <fa-icon [icon]="faCoins" class="ml-1"> </fa-icon>
        </div>
        <div>Especialidade</div>
        <div>Editar</div>
      </div>

      <div class="results">
        <div
          class="result active"
          *ngFor="let doctor of doctors"
          [ngClass]="{ dismiss: !doctor.ishired }"
        >
          <div class="d-flex justify-content-start align-items-center item">
            <ng-container *ngIf="doctor.user.avatar?.url; else avatarTemplate">
              <img [src]="doctor.user.avatar?.url" alt="avatar" />
            </ng-container>
            <ng-template #avatarTemplate>
              <img src="../../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>
            <span>{{ doctor.user.username }}</span>
          </div>

          <div class="item">
            <fa-icon [icon]="faCalendarPlus" class="mr-1"> </fa-icon>
            {{ doctor.hireddate | date: "shortDate" }}
          </div>

          <div class="item">
            {{ doctor.salary | currency: "BRL" }}
          </div>

          <div class="d-flex align-items-center sp">
            <ng-container *ngIf="doctor.edit && doctor.ishired; else editSM">
              <form [formGroup]="specialtyForm">
                <app-mult-selector-drop-drown
                  [width]="'150px'"
                  [height]="'30px'"
                  [states]="medicalSp"
                  [mainColor]="mainColor"
                  formControlName="specialty"
                ></app-mult-selector-drop-drown>
              </form>
            </ng-container>
            <ng-template #editSM>
              <app-multi-list-view
                [tags]="doctor.specialty"
                [mainColor]="mainColor"
                [w]="'150px'"
                [h]="'30px'"
              >
              </app-multi-list-view>
            </ng-template>

            <fa-icon
              [icon]="faEdit"
              class="cursor text-medium mx-2"
              (click)="editMode(doctor)"
            ></fa-icon>
            <fa-icon
              [icon]="faSave"
              class="cursor text-success"
              (click)="putSpecialty(doctor)"
            ></fa-icon>
          </div>
          <div class="actions item">
            <ng-container *ngIf="doctor.ishired; else editMenu">
              <fa-icon
                [icon]="faEdit"
                class="mr-2 cursor text-medium"
                (click)="edit(editModal, doctor)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Editar Salário"
              ></fa-icon>
              <fa-icon
                [icon]="faTimes"
                class="cursor text-oposity1"
                (click)="remove(removeModal, doctor)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Dispensar"
              ></fa-icon>
            </ng-container>
            <ng-template #editMenu>
              <fa-icon
                [icon]="faPlus"
                class="cursor text-success"
                (click)="rehire(doctor.id)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Recontratar"
              ></fa-icon>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
