<a href="#begin">
  <div class="bookmark"></div>
</a>
<div class="container">
  <div class="d-flex justify-content-center my-2">
    <a name="professionals"> </a>
    <h2 class="text-base text-justify text-uppercase">
      Nossos Profissionais
    </h2>
  </div>

  <div
    class="container professionals-cards d-flex align-items-center justify-content-lg-between"
  >
    <div
      class="arrow d-flex flex-column align-content-center justify-content-center m-4"
    >
      <fa-icon
        [icon]="faArrowLeft"
        (click)="arrowLeftHandler()"
        class="arrow-icon"
        size="2x"
      ></fa-icon>
    </div>

    <!-- cards -->
    <div class="cards d-flex">
      <app-professional-card
        *ngFor="let professional of professionals"
        [professional]="professional"
        [left]="left"
        [right]="right"
        (click)="handeAnimate()"
        [selected]="professional.id === professionals[0].id"
        [ngClass]="{
          selected: professional.id === professionals[0].id
        }"
      ></app-professional-card>
    </div>

    <!-- cards -->

    <div
      class="arrow d-flex flex-column align-content-center justify-content-center m-4"
    >
      <fa-icon
        [icon]="faArrowRight"
        class="arrow-icon"
        size="2x"
        (click)="arrowRightHandler()"
      ></fa-icon>
    </div>
  </div>

  <div class="professionals-footer-control d-flex justify-content-center my-0">
    <h2 class="text-base text-justify">
      <div class="buttons p-1 d-flex flex-row-reverse">
        <button
          *ngFor="let professional of professionals"
          class="m-2"
          [ngClass]="{
            selected: professional.id === current
          }"
        ></button>
      </div>
    </h2>
  </div>
</div>
