.notifications {
  z-index: 2;
  top: 90px;
  right: 120px;
  position: absolute;

  width: 300px;

  background-color: rgba(22, 46, 79, 0.8);
  border-radius: 2px;
  padding: 5px;

  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.2);

  color: var(--oposity);

  font-size: 8px;

  overflow-y: auto;

  .notification {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper-message {
      height: 100%;
      display: flex;
      align-items: center;
      //width: 70%;

      .message {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .time {
      width: 25%;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
    }
  }

  .notifications-title {
    font-size: 12px;
  }

  .marker {
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
}

.cursor {
  cursor: pointer;
}
