<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="month">
      <div class="control">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </div>

      <div class="mx-2">
        Maio de 2020
      </div>

      <div class="control">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>

      <div class="control">
        <fa-icon [icon]="faEdit" (click)="isEditing = !isEditing"></fa-icon>
        <fa-icon [icon]="faShare"></fa-icon>
      </div>
    </div>
    <div class="days">
      <div class="day-wrapper" *ngFor="let day of days">
        <div class="header-day">
          <div>01</div>
          <div>{{ day }}</div>
        </div>
        <div *ngFor="let hour of hours" class="day">
          <div *ngIf="isEditing">
            <ng-container *ngIf="hour.available; else elseTemplate">
              <fa-icon
                [icon]="faCheckSquare"
                (click)="mark(hour, day.value)"
              ></fa-icon>
            </ng-container>
            <ng-template #elseTemplate>
              <fa-icon [icon]="faSquare"></fa-icon>
            </ng-template>
            {{ hour.hour }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
