<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="month">
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="prevWeek()"></fa-icon>
      </div>

      <div class="mx-2">
        {{ months[today.getMonth()] }} de {{ today.getFullYear() }}
      </div>

      <div class="control">
        <fa-icon [icon]="faEdit" (click)="isEditing = !isEditing"></fa-icon>
        <fa-icon [icon]="faSave" (click)="createOrSave()"></fa-icon>
      </div>

      <div class="control">
        <fa-icon [icon]="faChevronRight" (click)="nextWeek()"></fa-icon>
      </div>
    </div>
    <div class="days">
      <div class="day-wrapper" *ngFor="let day of days">
        <div class="header-day">
          <div class="day-name">{{ day.name }}</div>
          <div class="number-day" [ngClass]="{ today: checkToday(day.date) }">
            {{ day.day }}
          </div>
        </div>
        <ng-container *ngIf="isEditing; else schedule">
          <div *ngFor="let hour of day.hours" class="day">
            <div>
              <ng-container *ngIf="hour.available; else elseTemplate">
                <fa-icon
                  [icon]="faSquare"
                  (click)="hour.available = setBusy(date, hour, hour.available)"
                ></fa-icon>
              </ng-container>
              <ng-template #elseTemplate>
                <fa-icon
                  [icon]="faCheckSquare"
                  [ngClass]="{ 'busy-hour': hour.busy }"
                  (click)="hour.available = setBusy(date, hour, hour.available)"
                ></fa-icon>
              </ng-template>
              {{ hour.hour }}
            </div>
          </div>
        </ng-container>
        <ng-template #schedule>
          <div *ngFor="let hour of day.hours">
            <div
              *ngIf="!hour.available"
              class="scheduled"
              [ngClass]="{ busy: hour.busy }"
            >
              {{ hour.hour }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
