<app-owners-employee-edit-modal
  #editModal
  (signOut)="diff($event)"
  [employee]="employee"
>
</app-owners-employee-edit-modal>

<app-owners-employee-dismiss-modal
  #removeModal
  (signOut)="dismiss($event)"
  [employee]="employee"
>
</app-owners-employee-dismiss-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-admin">
    <form [formGroup]="searchForm" class="search-form">
      <label
        for="search"
        class="text-owner d-none d-md-flex align-items-md-center"
      >
        <fa-icon [icon]="faCrown" class="text-owner"></fa-icon>
        Diretoria</label
      >

      <div class="d-flex align-items-center">
        <input
          formControlName="search"
          type="text"
          placeholder="Nome do funcionário"
          autocomplete="off"
          class="text-owner"
        />
        <div
          class="cursor text-owner d-flex align-items-center justify-content-between"
        >
          <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
          <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
          <div class="ml-2">{{ page }}</div>
          <fa-icon [icon]="faChevronRight" (click)="pageUp()"></fa-icon>
        </div>
      </div>
    </form>

    <div class="data">
      <div class="results">
        <div
          class="result active"
          *ngFor="let owner of owners"
          [ngClass]="{ dismiss: !owner.ishired }"
        >
          <div class="d-flex justify-content-start align-items-center">
            <ng-container *ngIf="owner.user.avatar?.url; else avatarTemplate">
              <img [src]="owner.user.avatar?.url" alt="avatar" />
            </ng-container>
            <ng-template #avatarTemplate>
              <img src="../../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>

            <div class="d-flex flex-column">
              <div class="username">
                <span>{{ owner.user.username }}</span>
              </div>

              <div class="small">
                <fa-icon [icon]="faCalendarPlus" class="mr-1"> </fa-icon>
                {{ owner.hireddate | date: "shortDate" }}
              </div>
              <div class="small">
                <fa-icon [icon]="faCoins" class="mr-1"> </fa-icon>
                {{ owner.salary | currency: "BRL" }}
              </div>
            </div>
          </div>

          <div class="actions">
            <ng-container *ngIf="owner.ishired; else notHired">
              <fa-icon
                [icon]="faEdit"
                class="mr-2 cursor text-medium"
                (click)="edit(editModal, owner)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Editar Salário"
              ></fa-icon>
              <fa-icon
                [icon]="faTimes"
                class="cursor text-oposity1"
                (click)="remove(removeModal, owner)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Dispensar"
              ></fa-icon>
            </ng-container>
            <ng-template #notHired>
              <fa-icon
                [icon]="faPlus"
                class="mr-2 cursor text-success"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Recontratar"
                (click)="rehire(owner.id)"
              ></fa-icon>

              <fa-icon
                [icon]="faTrash"
                class="cursor text-gray"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Remover"
              ></fa-icon>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
