<ng-template #content let-modal>
  <div class="modal-header bg-medium">
    <h4 class="modal-title text-oposity" id="modal-basic-title">
      Pedido de Agendamento
    </h4>
    <button
      type="button"
      class="close text-base"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="info">
      <fa-icon [icon]="faUserTie"></fa-icon>
      {{ appointmentResume?.fullname }}
    </div>
    <div class="info">
      <fa-icon [icon]="faEmail"></fa-icon>
      {{ appointmentResume?.email }}
    </div>

    <div class="info">
      <fa-icon [icon]="faPhone"></fa-icon>
      {{ appointmentResume?.phoneNumber }}
    </div>

    <div class="info">
      <fa-icon [icon]="faBriefCase"></fa-icon>

      {{ fmrt(appointmentResume?.specialty) }}
    </div>
    <div class="info">
      <fa-icon [icon]="faCalendarday"></fa-icon>
      {{ appointmentResume?.date && prettyDate(appointmentResume.date) }}
    </div>

    <div class="info">
      <fa-icon [icon]="faClock"></fa-icon>
      {{ appointmentResume?.hour }}h
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="bt bt-oposity1"
      (click)="modal.close('confirm')"
    >
      Enviar
    </button>
  </div>
</ng-template>
