<ng-template #content let-modal>
  <div class="modal-header bg-medium">
    <h4 class="modal-title text-oposity" id="modal-basic-title">
      Pedido de Agendamento
    </h4>
    <button
      type="button"
      class="close text-base"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" placeholder="Nome" />
        <input type="text" placeholder="Nome" />
        <input type="text" placeholder="Nome" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="bt bt-oposity1"
      (click)="modal.close('Save click')"
    >
      Enviar
    </button>
  </div>
</ng-template>
