<div class="med">
  <div class="info">
    <div class="medicine">
      <div
        class="stripe"
        [style.background-color]="
          getStripeColor(medicine?.stripe ? medicine.stripe : 'Azul')
        "
      ></div>
    </div>
    <div class="basic">
      <div class="tipo">
        <div *ngIf="!medicine?.laboratory">Formula:</div>
        {{ (medicine.product && fmrt(medicine.product)) || medicine.formula }}
      </div>

      <div class="lab-info" *ngIf="medicine?.presentantion">
        <ng-container *ngIf="medicine?.presentantion; else noLab">
          <div class="name">{{ medicine.presentantion }}</div>
        </ng-container>
        <ng-template #noLab>
          <div>-</div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="category">{{ fmrt(medicine.category) }}</div>
    <div class="subcategory">{{ fmrt(medicine.subcategory) }}</div>

    <div class="date">
      <fa-icon [icon]="faCalendarDay"></fa-icon>

      <div>{{ pretty(medicine.createdAt) }}</div>
    </div>
  </div>
  <div class="controls">
    <fa-icon
      [icon]="faTrash"
      (click)="remove(medicine.id)"
      class="remove"
      *ngIf="del"
    ></fa-icon>
    <div class="status"></div>
  </div>
</div>

<!---->
