<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="header">
      <div class="mx-2">
        Nova Receita
      </div>

      <div class="control">
        <fa-icon [icon]="faEdit" (click)="isEditing = !isEditing"></fa-icon>
        <fa-icon [icon]="faSave" (click)="save()"></fa-icon>
        <fa-icon [icon]="faShare"></fa-icon>
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch">
      <div class="form">
        <div class="input">
          <input type="text" name="search" placeholder="Nome do paciente" />
          <fa-icon [icon]="faSearch" (click)="search()"></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados

            <strong class="ml-1"> 4</strong>
          </div>

          <div class="wrapper">
            <div class="result">
              <div>João das Colves</div>
              <fa-icon
                [icon]="faFileMedical"
                class="text-success cursor ml-2"
              ></fa-icon>
            </div>

            <div class="result">
              <div>Maria Sem graça</div>

              <fa-icon
                [icon]="faFileMedical"
                class="text-success cursor ml-2"
              ></fa-icon>
            </div>

            <div class="result">
              <div>Pedro Antunes</div>

              <fa-icon
                [icon]="faFileMedical"
                class="text-success cursor ml-2"
              ></fa-icon>
            </div>
            <div class="result">
              <div>Marcolino Frango</div>

              <fa-icon
                [icon]="faFileMedical"
                class="text-success cursor ml-2"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prescription-body">
      <div class="prescription-header">
        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faUserMd" class="mr-1"></fa-icon>
          </div>
          Doutor: <strong>Pedro Alvares Cabral II</strong>
        </div>
        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faHeartbeat" class="mr-1"></fa-icon>
          </div>

          Paciente: <strong> Rosinha Garotinho</strong>
        </div>
      </div>

      <div class="actions">
        <div class="add medicine">
          Adicionar Medicamento
          <fa-icon [icon]="faCapsules"></fa-icon>
        </div>
        <div class="add exam">
          Adicionar Exame
          <fa-icon [icon]="faVial"></fa-icon>
        </div>
        <div class="add recocomendação">
          Adicionar Recomendação
          <fa-icon
            [icon]="faExclamationCircle"
            (click)="addR = !addR"
          ></fa-icon>
        </div>
      </div>

      <div *ngIf="addR" class="new-recom">
        <textarea
          name="recomendation"
          id="recon"
          cols="30"
          rows="10"
          placeholder="Recomendações"
        >
        </textarea>
      </div>
    </div>
  </div>
</div>
