<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="header">
      <div class="mx-2">Nova Receita</div>

      <div class="control">
        <fa-icon
          [icon]="faSearch"
          (click)="toogle()"
          data-toggle="tooltip"
          data-placement="top"
          title="Buscar paciente"
        ></fa-icon>
        <fa-icon
          [icon]="faEdit"
          (click)="create()"
          data-toggle="tooltip"
          data-placement="top"
          title="Editar prescrição"
        ></fa-icon>
        <fa-icon
          [icon]="faSave"
          (click)="update()"
          data-toggle="tooltip"
          data-placement="top"
          title="Salvar prescrição"
        ></fa-icon>

        <fa-icon
          [icon]="faShare"
          data-toggle="tooltip"
          data-placement="top"
          title="Sair"
          (click)="back()"
        ></fa-icon>
        <fa-icon
          [icon]="faTrash"
          data-toggle="tooltip"
          data-placement="top"
          title="Deletar prescrição"
          (click)="deletePrescription(prescription.id)"
        ></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="showSearch = false">
      <div class="form">
        <div class="input">
          <input
            type="text"
            name="search"
            placeholder="Nome do paciente"
            #clientname
          />
          <fa-icon
            [icon]="faSearch"
            (click)="search(clientname.value)"
          ></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados

            <strong class="ml-1"> {{ clients?.length }}</strong>
          </div>

          <div class="wrapper">
            <div
              class="result"
              *ngFor="let client of clients"
              (click)="save(client)"
            >
              <ng-container *ngIf="client.user.avatar?.url; else avatar">
                <img [src]="client.user.avatar?.url" alt="avatar" />
              </ng-container>

              <ng-template #avatar>
                <img src="../../../assets/avatarmale.png" alt="avatar" />
              </ng-template>
              <div>
                <strong>
                  {{
                    client.user.surname
                      ? client.user.fullname
                      : client.user.username
                  }}</strong
                >
                <div>
                  <fa-icon
                    [icon]="faMobileAlt"
                    *ngIf="client.user?.phoneNumber"
                  ></fa-icon>
                  {{ client.user?.phoneNumber }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prescription-body" [formGroup]="prescriptionForm">
      <div class="prescription-header">
        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faUserMd" class="mr-1"></fa-icon>
          </div>
          Doutor:
          <strong>{{
            prescription?.doctor?.user.username ||
              latestAppointment?.doctor?.user.username
          }}</strong>
        </div>

        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faMedKit"></fa-icon>
          </div>
          <strong>{{ fmrt(prescription?.doctor.specialty[0]) }}</strong>
        </div>
        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faHeartbeat" class="mr-1"></fa-icon>
          </div>
          Paciente:
          <strong>
            {{
              prescription?.client?.user.username ||
                latestAppointment?.client?.user.username
            }}</strong
          >
        </div>

        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faFileMedical" class="mr-1"></fa-icon>
          </div>
          Receita
          <strong>{{
            prescriptionForm.value?.code || prescription?.code
          }}</strong>
        </div>
        <div class="field">
          <div class="icon"><fa-icon [icon]="faCalendarPlus"></fa-icon></div>
          Data: <strong> {{ prettyDate }}</strong>
        </div>
      </div>
      <div>
        Anamnese
        <fa-icon [icon]="faEdit" (click)="toogleAna()" class="ml-1"></fa-icon>
      </div>
      <div class="anamnese prescription-header">
        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faTachometerAlt" class="mr-1"></fa-icon>
          </div>
          Pressão arterial:
          <strong>
            <ng-container *ngIf="annaminese; else pressure">
              {{ prescription?.pressure || "_ _" }}
            </ng-container>
            <ng-template #pressure>
              <input
                type="text"
                placeholder="Pressão"
                class="ana"
                formControlName="pressure"
                appPressureMask
              />
            </ng-template>

            mmHg</strong
          >
        </div>

        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faWeight" class="mr-1"></fa-icon>
          </div>

          Peso:
          <strong>
            <ng-container *ngIf="annaminese; else w">
              {{ prescription?.weight || "_ _" }}
            </ng-container>
            <ng-template #w>
              <input
                type="text"
                placeholder="Peso"
                class="ana"
                formControlName="weight"
              />
            </ng-template>

            kg</strong
          >
        </div>

        <div class="field">
          <div class="icon">
            <fa-icon [icon]="faHeart" class="mr-1"></fa-icon>
          </div>
          Batimentos:
          <strong>
            <ng-container *ngIf="annaminese; else b">
              {{ prescription?.bpm || "_ _" }}
            </ng-container>
            <ng-template #b>
              <input
                type="number"
                placeholder="Batimentos"
                class="ana"
                formControlName="bpm"
              />
            </ng-template>

            bpm</strong
          >
        </div>

        <div class="field">
          <div class="icon"><fa-icon [icon]="faRulerVertical"></fa-icon></div>
          Altura:<strong>
            <ng-container *ngIf="annaminese; else h">
              {{ prescription?.height || "_ _" }}
            </ng-container>
            <ng-template #h>
              <input
                type="number"
                placeholder="Altura"
                class="ana"
                formControlName="height"
              />
            </ng-template>

            cm</strong
          >
        </div>

        <div class="field">
          <div class="icon"><fa-icon [icon]="faRulerHorizontal"></fa-icon></div>
          Cintura:<strong>
            <ng-container *ngIf="annaminese; else waist">
              {{ prescription?.waist || "_ _" }}
            </ng-container>
            <ng-template #waist>
              <input
                type="number"
                placeholder="Cintura"
                class="ana"
                formControlName="waist"
              />
            </ng-template>

            cm</strong
          >
        </div>
      </div>
      <div class="actions">
        <div class="add medicine" (click)="showAddM()">
          Adicionar Medicamento
          <fa-icon [icon]="faCapsules"></fa-icon>
        </div>
        <div class="add exam" (click)="showAddE()">
          Adicionar Exame
          <fa-icon [icon]="faVial"></fa-icon>
        </div>
        <div class="add recocomendação" (click)="showAddR()">
          Adicionar Recomendação
          <fa-icon [icon]="faExclamationCircle"></fa-icon>
        </div>
      </div>

      <div *ngIf="addM" class="new-med">
        <div class="wrapper">
          <strong>Medicamento</strong>
          <div class="select">
            <label for="category">Categoria</label>
            <select
              formControlName="category"
              class="in cursor"
              style="border: 1px solid var(--doctor); color: var(--doctor)"
            >
              <option [value]="cat.value" *ngFor="let cat of category">
                {{ cat.label }}
              </option>
            </select>
          </div>

          <div class="select">
            <label for="subcategory">Sub-categoria</label>
            <select
              formControlName="subcategory"
              class="in cursor"
              style="border: 1px solid var(--doctor); color: var(--doctor)"
            >
              <option [value]="sub.value" *ngFor="let sub of subcategory">
                {{ sub.label }}
              </option>
            </select>
          </div>
          <div class="buttons">
            <div class="bts">
              <button class="bt-doctor" (click)="showSearchMed()">
                Buscar
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <button class="bt-oposity1" (click)="showAddNF()">
                Fórmula
                <fa-icon [icon]="faFlask"></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="wrapper-search" *ngIf="searchMed">
          <div class="search-med">
            <div class="form-med">
              <div class="input">
                <input
                  type="text"
                  name="search"
                  placeholder="Nome do remédio"
                  #search
                />
                <fa-icon
                  [icon]="faSearch"
                  (click)="search.value && searchMedicine(search.value)"
                  class="cursor"
                ></fa-icon>

                <fa-icon
                  [icon]="faTimes"
                  (click)="showAddM()"
                  class="cursor ml-1"
                ></fa-icon>
              </div>

              <div class="results">
                <div class="label">
                  Resultados
                  <strong class="ml-1">{{ searchMedicines.length }}</strong>
                </div>

                <div class="wrapper-medicines">
                  <div
                    class="medicine"
                    *ngFor="let medicine of searchMedicines"
                  >
                    <div class="info">
                      <div class="name d-flex">
                        {{ fmrt(medicine._source.product) }}
                      </div>
                      <div class="lab d-flex">
                        <fa-icon [icon]="faFlask" class="mr-1"></fa-icon>
                        {{ fmrt(medicine._source.laboratory) }}
                      </div>
                      <div class="lab d-flex">
                        <fa-icon [icon]="faBox" class="mr-1"></fa-icon>
                        {{ fmrt(medicine._source.presentantion) }}
                      </div>
                      <div class="lab d-flex">
                        <fa-icon [icon]="faBox" class="mr-1"></fa-icon>
                        {{ fmrt(medicine._source.product_type) }}
                      </div>
                      <div class="lab d-flex">
                        <fa-icon [icon]="faBox" class="mr-1"></fa-icon>
                        {{ fmrt(medicine._source.stripe) }}
                      </div>
                      <div class="lab d-flex">
                        <fa-icon [icon]="faBox" class="mr-1"></fa-icon>
                        {{ fmrt(medicine._source.substance) }}
                      </div>
                    </div>
                    <div class="button">
                      <button (click)="addMedicine(medicine._source)">
                        <fa-icon
                          [icon]="faPlusCircle"
                          class="text-oposity"
                        ></fa-icon>
                        Selecionar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="addNF" class="new-formule">
        <div class="tools">
          Fórmula
          <fa-icon
            [icon]="faSave"
            (click)="addMedicine({})"
            class="mr-1 cursor"
          ></fa-icon>
          <fa-icon
            [icon]="faTimes"
            class="mr-1 cursor"
            (click)="showAddNF()"
          ></fa-icon>
        </div>
        <textarea
          formControlName="formula"
          #formula
          cols="30"
          rows="10"
          placeholder="Descreva a formula do medicamento"
        >
        </textarea>
      </div>

      <div *ngIf="addE">
        <form [formGroup]="prescriptionForm" class="exams">
          <div class="search-exams">
            <div class="search-exams-header">
              <div>Buscar exames</div>

              <div>
                <input
                  #examName
                  type="text"
                  placeholder="Nome do exame"
                  style="border: 1px solid var(--doctor); color: var(--doctor)"
                  (keyup)="applyFilter(examName.value)"
                />

                <fa-icon
                  [icon]="faSearch"
                  (click)="applyFilter(examName.value)"
                ></fa-icon>
              </div>
            </div>

            <div>Resultados: {{ filteredExams.length }}</div>

            <div class="search-exams-results">
              <div
                *ngFor="let exam of filteredExams"
                class="search-exams-result"
              >
                <div>{{ exam.label }}</div>

                <fa-icon [icon]="faPlusCircle" (click)="createExam(exam.value)">
                </fa-icon>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="addR" class="new-recom" (mouseleave)="showAddR()">
        <div class="tools">
          Recomendação
          <fa-icon
            [icon]="faSave"
            class="mr-1 cursor"
            (click)="saveR(reconm.value)"
          ></fa-icon>
          <fa-icon
            [icon]="faTimes"
            class="mr-1 cursor"
            (click)="showAddR()"
          ></fa-icon>
        </div>
        <textarea
          name="recomendation"
          #reconm
          cols="30"
          rows="10"
          placeholder="Escreva aqui recomendações ao paciente"
          value="R{{ recomendations.length + 1 }}: "
          (keyup.enter)="saveR(reconm.value)"
        >
        </textarea>
      </div>

      <div
        class="resume"
        *ngIf="
          prescription?.recomendations.length > 0 ||
          prescription?.medicines.length > 0 ||
          prescription?.exams.length > 0
        "
      >
        <strong>Resumo</strong>

        <div *ngIf="prescription?.recomendations.length > 0" class="my-1">
          <div>
            <fa-icon [icon]="faExclamationCircle"></fa-icon>
            <strong> Recomendações</strong>
          </div>

          <app-recom-view
            *ngFor="let recom of prescription?.recomendations; let i = index"
            [recomendation]="recom"
            [del]="true"
            [indice]="i + 1"
            (delete)="deleteRecomendation($event)"
          ></app-recom-view>
        </div>
        <div *ngIf="prescription?.medicines.length > 0" class="my-1">
          <div>
            <fa-icon [icon]="faCapsules"></fa-icon>

            <strong> Medicamentos</strong>
          </div>
          <app-medicine-view
            [del]="true"
            [medicine]="medicine"
            (delete)="deleteMedicine($event)"
            *ngFor="let medicine of prescription.medicines"
          ></app-medicine-view>
        </div>

        <div *ngIf="prescription?.exams.length > 0" class="my-1">
          <div>
            <fa-icon [icon]="faVial"></fa-icon>

            <strong> Exames</strong>
          </div>

          <app-exam-view
            *ngFor="let exam of prescription.exams"
            [exam]="exam"
            [del]="true"
            (delete)="deleteExam($event)"
          ></app-exam-view>
        </div>
      </div>
    </div>
  </div>
</div>
