// @media query here
.dashboard {
  margin: 80px;
  padding-left: 80px;

  @media screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
    margin: 40px;
    margin-top: 80px;
    padding-left: 40px;
    font-size: 11px;
  }

  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    font-size: 10px;
    margin: 40px;
    margin-top: 80px;
    padding-left: 40px;
  }

  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    font-size: 10px;
    margin: 40px;
    margin-top: 40px;
    padding-left: 20px;
  }

  .main-data {
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(247, 209, 209, 0.1);
    margin: 20px;

    .header {
      box-shadow: 4px 4px 5px rgba(125, 125, 125, 0.4);
      width: 100%;
      height: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: var(--oposity);
      background-color: var(--doctor);

      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        fa-icon {
          font-size: 1em;
          cursor: pointer;
          margin: 0px 5px 0px 5px;
        }
      }
    }

    position: relative;

    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;

      .form {
        .results {
          background-color: var(--oposity);
          height: 100px;
          border: 1px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .label {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 12px;

            padding: 0px 10px 0px 10px;
          }

          .wrapper {
            padding: 5px 10px 5px 10px;
            overflow-y: scroll;
            width: 100%;

            .result {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              margin: 2px 0px;
              color: var(--doctor);
              padding: 2px;
              border-radius: 4px;

              &:hover {
                background-color: rgba(114, 85, 192, 0.1);
              }

              cursor: pointer;

              div div {
                font-size: 12px;
              }

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid var(--doctor);
                margin-right: 10px;
                object-fit: cover;
                margin-right: 4px;
              }
            }
          }
        }
        .input {
          margin-top: 10px;
          height: 40px;
          width: 220px;
          background-color: var(--doctor);
          color: var(--oposity);
          border: 2px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 150px;
            border-radius: 4px;
            background-color: var(--oposity);
            color: var(--doctor);
            padding: 2px;
            font-size: 14px;
            &::placeholder {
              color: var(--doctor);
              opacity: 0.6;
            }
          }
        }

        fa-icon {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
    .prescription-body {
      box-shadow: 4px 4px 5px rgba(125, 125, 125, 0.4);
      margin-top: 10px;
      border-radius: 4px;
      background-color: var(--oposity);
      display: flex;
      flex-direction: column;
      padding: 10px;

      .prescription-header {
        border: 1px solid var(--doctor);
        margin-bottom: 5px;
        border-radius: 4px;
        padding: 5px;

        display: flex;

        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .field {
          display: flex;
          .icon {
            margin-right: 5px;
            width: 20px;
          }

          strong {
            margin-left: 5px;
          }
        }
      }

      .actions {
        margin: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .add {
          box-shadow: 4px 4px 5px rgba(125, 125, 125, 0.2);
          border-radius: 4px;
          font-size: 14px;
          width: 210px;

          @media screen and (max-device-width: 400px),
            screen and (max-width: 400px) {
            width: 100%;
            font-size: 10px;
          }
          background-color: var(--doctor);
          color: var(--oposity);
          margin: 5px 10px 0px 0px;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          &:hover {
            color: var(--oposity);
            opacity: 0.6;
          }
        }
      }

      .anamnese {
        width: 100%;
        //: 40px;
        //border: none;

        display: flex;
        align-items: center;

        .field {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .ana {
          border: 1px solid var(--doctor);
          width: 80px;
          padding-left: 5px;
          border-radius: 4px;

          color: var(--doctor);

          @media screen and (max-device-width: 400px),
            screen and (max-width: 400px) {
            font-size: 8px;
            width: 40px;
            &::placeholder {
              font-size: 8px;
            }
          }

          &::placeholder {
            font-size: 12px;

            color: var(--doctor);
            opacity: 0.6;
          }
        }
      }
      .new-med {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .wrapper {
          margin-right: 10px;
          width: 210px;
          border: 1px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;

          strong {
            font-size: 12px;
          }

          .buttons {
            margin-top: 10px;
            margin-bottom: 10px;
            .bts {
              width: 200px;
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-size: 12px;
              button {
                box-shadow: 4px 4px 5px rgba(125, 125, 125, 0.2);
                width: 90px;
                border-radius: 4px;
              }
            }
          }

          .select {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 5px 0px;

            label {
              font-size: 12px;
              margin: 0px;
            }
            select {
              font-size: 12px;
              width: 200px;
            }
          }
        }
      }

      .wrapper-search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        .search-med {
          width: 100%;
          display: flex;
          flex-direction: column;
          .form-med {
            width: 100%;
            .input {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin: 5px;
              border: 1px solid var(--doctor);
              border-radius: 4px;
              padding: 0 5px;
              input {
                width: 100%;
                border-radius: 4px;
                font-size: 12px;
                color: var(--doctor);
                &::placeholder {
                  opacity: 0.6;
                }
              }
            }

            .results {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-end;
              margin: 5px;
              border-radius: 4px;
              padding: 0 5px;

              .label {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 12px;
              }
              .wrapper-medicines {
                width: 100%;
                height: 250px;
                overflow-x: auto;
                font-size: 12px;
                border-radius: 4px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                background-color: rgba(125, 125, 125, 0.2);
                padding: 5px;
                .medicine {
                  cursor: zoom-in;

                  height: 90%;
                  background-color: var(--oposity);
                  color: var(--doctor);
                  padding: 5px;
                  width: 120px;
                  margin: 5px;
                  border-radius: 4px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  //overflow-y: auto;
                  overflow: hidden;

                  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

                  &:hover {
                    transform: scale(1.05);

                    background-color: var(--doctor);
                    color: var(--oposity);

                    box-shadow: 2px 2px 2px 2px var(--doctor);
                  }
                  .info {
                    margin-bottom: 5px;
                    font-size: 10px;
                    //overflow-y: scroll;
                    overflow: hidden;
                    .name {
                      overflow: hidden;
                    }
                  }

                  .button {
                    align-self: center;
                    button {
                      cursor: pointer;
                      width: 100%;
                      background-color: var(--medium);
                      color: var(--oposity);
                      border-radius: 4px;
                      box-shadow: 2px 2px 2px rgba(125, 125, 125, 0.2);

                      &:hover {
                        opacity: 0.6;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .new-recom {
        width: 100%;
        textarea {
          width: 100%;
          background-color: rgba(247, 209, 209, 0.2);
          color: var(--doctor);
          border-radius: 4px;
          border: 1px solid var(--doctor);
          display: block;
          padding: 5px;

          &::placeholder {
            color: var(--doctor);
            opacity: 0.6;
          }
        }
      }

      .resume {
        font-size: 12px;
      }
    }
  }
}

.cursor {
  cursor: pointer;
}

.exams {
  font-size: 14px;
}

.new-formule {
  width: 100%;
  textarea {
    width: 100%;
    background-color: rgba(247, 209, 209, 0.2);
    color: var(--doctor);
    border-radius: 4px;
    border: 1px solid var(--doctor);
    display: block;
    padding: 5px;

    &::placeholder {
      color: var(--doctor);
      opacity: 0.6;
    }
  }
}

fa-icon {
  cursor: pointer;
}

.search-exams {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;

  .search-exams-header {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div input {
      border-radius: 4px;
      border: 1px solid var(--doctor);
      padding: 2px;
      padding-left: 5px;
      &::placeholder {
        color: var(--doctor);
        opacity: 0.6;
      }
    }

    div fa-icon {
      margin-left: 2px;
      cursor: pointer;
      font-size: 1.2em;
    }
  }

  .search-exams-results {
    background-color: rgba(125, 125, 125, 0.2);
    margin-top: 10px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;

    border: 1px solid var(--doctor);
    border-radius: 4px;
    .search-exams-result {
      background-color: var(--oposity);
      border: 1px solid rgba(125, 125, 125, 0.4);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      font-size: 12px;
      border-radius: 4px;
      margin: 5px 5px;
      fa-icon {
        cursor: pointer;
        color: var(--success);
        font-size: 12px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
