<div class="bg w-100 h-100 d-flex">
  <div class="tool-bar h-100">
    <div class="too-bar-content">
      <div class="logo">
        <a routerLink="/">
          <img src="../../../assets/logo.svg" alt="logo" />
        </a>
      </div>
      <div class="tool-bar-menu d-flex flex-column align-items-center">
        <div class="my-3">
          <fa-icon [icon]="faHome" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faUser" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faFileMedical" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faPoll" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faCalendarCheck" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faBookMedical" class="fa-lg"></fa-icon>
        </div>
        <div class="my-3">
          <fa-icon [icon]="faFileInvoiceDollar" class="fa-lg"></fa-icon>
        </div>
        <div class="my-2">
          <fa-icon [icon]="faPowerOff" class="fa-lg"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="header w-100"></div>
    <div class="container content">
      <div class="row">
        <div class="col-6">
          <div class="main-info">
            <div>data</div>
            <div>resums</div>
          </div>
        </div>
        <div class="col-6">esquerda</div>
      </div>
    </div>
  </div>
</div>
