.reports {
  font-size: 12px;

  background-color: var(--oposity);
  border-radius: 4px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);

  width: 600px;
  height: 300px;

  margin: 20px;

  @media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    margin: 0px;
    margin-top: 40px;
    margin-left: 25px;
    width: 270px;
    height: 320px;
  }
}
