<div
  class="dashboard d-flex flex-wrap justify-content-around align-itens-center"
>
  <div class="d-flex row-fluid justify-content-around w-100 mt-3">
    <div class="info">
      <div><strong>Clientes</strong></div>
      <div class="value" [style.color]="color">
        <fa-icon [icon]="faUserTie"></fa-icon>

        {{ total.clients }}
      </div>
    </div>
    <div class="info">
      <div><strong>Médicos</strong></div>

      <div class="value" [style.color]="color2">
        <fa-icon [icon]="faUserMd"></fa-icon>
        {{ total.doctors }}
      </div>
    </div>
    <div class="info">
      <div><strong>Suporte</strong></div>
      <div class="value" [style.color]="color3">
        <fa-icon [icon]="faUsersCog"></fa-icon>
        {{ total.staff }}
      </div>
    </div>
    <div class="info">
      <div><strong>Faturamento</strong></div>
      <div class="value" [style.color]="color4">
        <fa-icon [icon]="faCoins"></fa-icon>
        {{ total.budget | currency: "BRL" }}
      </div>
    </div>
  </div>
  <div class="content" *ngIf="stats.finished">
    <app-donut-chart
      [radius]="75"
      [stroke]="15"
      [progress]="stats.finished?.percent"
      [color]="color"
      [title]="title"
    ></app-donut-chart>
    <app-client-bar-chart
      class="w-100"
      [title]="title5"
      [data]="stats.finished?.stats"
      [color]="color"
    ></app-client-bar-chart>
  </div>
  <div class="content" *ngIf="stats.canceled">
    <app-donut-chart
      [radius]="75"
      [stroke]="15"
      [progress]="stats.canceled?.percent"
      [color]="color2"
      [title]="title2"
    ></app-donut-chart>
    <app-client-bar-chart
      class="w-100"
      [title]="title6"
      [data]="stats.canceled?.stats"
      [color]="color2"
    ></app-client-bar-chart>
  </div>
  <div class="content" *ngIf="stats.returned">
    <app-donut-chart
      [radius]="75"
      [stroke]="15"
      [progress]="stats.returned?.percent"
      [color]="color3"
      [title]="title3"
    ></app-donut-chart>
    <app-client-bar-chart
      class="w-100"
      [title]="title7"
      [data]="stats.returned?.stats"
      [color]="color3"
    ></app-client-bar-chart>
  </div>

  <div class="content" *ngIf="stats.reschedule">
    <app-donut-chart
      [radius]="75"
      [stroke]="15"
      [progress]="stats.reschedule?.percent"
      [color]="color4"
      [title]="title4"
    ></app-donut-chart>
    <app-client-bar-chart
      class="w-100"
      [title]="title8"
      [data]="stats.reschedule?.stats"
      [color]="color4"
    ></app-client-bar-chart>
  </div>

  <div class="content" *ngIf="stats.onscheduled">
    <app-donut-chart
      [radius]="75"
      [stroke]="15"
      [progress]="stats.onscheduled?.percent"
      [color]="color5"
      [title]="title9"
    ></app-donut-chart>
    <app-client-bar-chart
      class="w-100"
      [title]="title9"
      [data]="stats.onscheduled?.stats"
      [color]="color5"
    ></app-client-bar-chart>
  </div>
</div>
