<div class="bg-base w-100 h-100">
  <div
    class="container d-flex flex-colum align-items-center justify-content-center h-100"
  >
    <div class="main bg-base1">
      <div
        class="logo-area w-100 d-flex align-items-center justify-content-center my-3"
      >
        <a routerLink="/">
          <img src="../../../assets/logo.svg" alt="logo" />
        </a>
      </div>

      <div class="body m-3 d-flex flex-column align-items-center">
        <input type="text" name="name" placeholder="Nome" class="my-1 p-1" />
        <input type="email" name="email" placeholder="Email" class="my-1 p-1" />
        <input
          type="password"
          name="password"
          placeholder="senha"
          class="my-1 p-1"
        />
        <input
          type="password"
          name="passwordConfirmation"
          placeholder="confirme sua senha"
          class="my-1 p-1"
        />
        <div
          class="d-flex flex-column align-itens-center justify-content-center mt-1"
        >
          <a routerLink="/">
            <button class="bt bt-oposity1 my-1 w-100">
              Enviar
            </button>
          </a>
          <a routerLink="/auth/signin">
            <button class="bt bt-medium my-1 w-100">
              Já tenho cadastro
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
