.recom {
  margin: 5px 0px;
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(114, 85, 192, 0.1);
  padding: 2px 4px;
  border-radius: 2px;

  .info {
    display: flex;
    align-items: center;

    .indice {
      background-color: var(--medium);
      color: var(--oposity);

      width: 15px;
      height: 15px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 12px;
    }

    .value {
      margin-left: 3px;
      color: var(--medium);
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .remove {
      color: rgba(125, 125, 125, 0.3);
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: var(--oposity1);
      }
    }
  }

  @media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    font-size: 8px;
    flex-direction: column;

    .info {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}
