<footer
  class="container main-footer d-flex aling-itens-center justify-content-between"
>
  <div>
    <span
      >Feito com <fa-icon [icon]="faCoffee"></fa-icon> por
      <span class="text-base1"> 34soft</span>
    </span>
  </div>

  <div>
    <span>
      Copyright &copy; 2020 All rights reserved
    </span>
  </div>

  <div>
    <span
      >Siga-nos
      <fa-icon [icon]="faInstagram" class="mx-1 icon"></fa-icon>
      <fa-icon [icon]="faFacebook" class="mx-1 icon"></fa-icon>
      <fa-icon [icon]="faWhatsapp" class="mx-1 icon"></fa-icon>
    </span>
  </div>
</footer>
