<footer
  class="container main-footer d-flex aling-itens-center justify-content-between text-dark"
>
  <div>
    <span
      >Feito com <fa-icon [icon]="faCoffee" class="text-dark"></fa-icon> por
      <span class="text-base-heavy"> 34soft</span>
    </span>
  </div>

  <div>
    <span>
      Copyright &copy; 2020 All rights reserved
    </span>
  </div>

  <div>
    <span
      >Siga-nos
      <fa-icon [icon]="faInstagram" class="mx-1 text-error"></fa-icon>
      <fa-icon [icon]="faFacebook" class="mx-1 text-info"></fa-icon>
      <fa-icon [icon]="faWhatsapp" class="mx-1 text-success"></fa-icon>
    </span>
  </div>
</footer>
