$oposity: rgba(255, 255, 255, 1);
$oposity1: rgba(255, 150, 255, 1);
$medium1: rgba(153, 217, 255, 1);
$medium: rgba(41, 171, 226, 1);
$base1: rgb(2, 139, 177);
$base: rgb(22, 46, 79);
$error: #e85642;
$warn: #f3ca13;
$colorup: #6dd5ed;
$colordown: #2193b0;
$success: #06c50e;

$doctor: #7255c0;
$client: #006811;
$owner: #3ba34413;
$admin: #2624c9;
$user: $base;
$profile: #5768c9;
$recept: #0eaf16;
$lab: #69d188;

:root {
  --oposity: $oposity;
  --oposity1: $oposity1;
  --medium1: $medium1;
  --medium: $medium;
  --base1: $base1;
  --base: $base;
  --error: $error;
  --warn: $warn;
  --colorup: #6dd5ed;
  --colordown: #2193b0;
  --success: #06c50e;

  --doctor: #7255c0;
  --client: #006811;
  --owner: #3ba34413;
  --admin: #2624c9;
  --user: $base;
  --profile: #5768c9;
  --recept: #0eaf16;
  --lab: #69d188;
}

$logoh: 50px;
$logow: 50px;

$button-hover-type: "lighten";
$button-hover-amount: 10%;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "oposity": $oposity,
    "oposity1": $oposity1,
    "medium1": $medium,
    "medium": $medium,
    "base1": $base1,
    "base": $base,
    "error": $error,
    "warn": $warn,
    "success": $success,
    "doctor": $doctor,
    "client": $client,
    "owner": $owner,
    "admin": $admin,
    "user": $user,
    "recept": $recept,
    "lab": $lab,
    "profile": $profile,
  ),
  $theme-colors
);

$main_font: "Open Sans";
