<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="month">
      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
      </div>

      <div class="control">Novos pacientes</div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>
      <div class="control">
        <fa-icon [icon]="faChevronRight" (click)="pageUp()"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="toogle()">
      <div class="form">
        <div class="input">
          <input
            type="text"
            name="search"
            placeholder="Nome do paciente"
            #username
          />
          <fa-icon [icon]="faSearch" (click)="search(username.value)"></fa-icon>
        </div>
      </div>
    </div>

    <div class="appointments">
      <div *ngFor="let client of clients" class="appointment">
        <div class="user-info">
          <div class="avatar">
            <ng-container *ngIf="client.user.avatar?.url; else avatar">
              <img [src]="client.user.avatar?.url" alt="avatar" />
            </ng-container>

            <ng-template #avatar>
              <img src="../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>
          </div>

          <div class="appointment-info d-flex flex-column text-recept">
            <div class="username">
              <strong> {{ client.user.username }} </strong>
              <fa-icon
                [icon]="faCheck"
                class="text-success"
                *ngIf="client.user.checked"
              ></fa-icon>
            </div>

            <div class="add">
              <small> Gênero:</small>

              <small>{{ client.user.sex }}</small>
            </div>

            <div class="add">
              <small> Idade: </small>
              <small
                >{{
                  age(client.user.birthdate)
                    ? age(client.user.birthdate)
                    : "Não informado"
                }}
              </small>
            </div>
          </div>
        </div>

        <div class="appointment-info email d-flex flex-column">
          <div>
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <small class="ml-1">{{ client.user.email }}</small>
          </div>
          <div>
            <fa-icon [icon]="faPhone"></fa-icon>
            <small class="ml-1">{{ client.user.phoneNumber }}</small>
          </div>
        </div>

        <div class="appointment-info">
          <fa-icon
            [icon]="faCheckCircle"
            class="text-success cursor ml-2"
            data-toggle="tooltip"
            data-placement="top"
            title="Validar usuário"
            *ngIf="!client.user.checked"
            (click)="handleCheck(client.id, true)"
          ></fa-icon>

          <fa-icon
            [icon]="faTimes"
            class="text-oposity1 cursor ml-2"
            data-toggle="tooltip"
            data-placement="top"
            title="Invalidar usuário"
            *ngIf="client.user.checked"
            (click)="handleCheck(client.id, false)"
          ></fa-icon>

          <a [href]="client.photo?.url" *ngIf="client.photo.url">
            <fa-icon
              [icon]="faFileDownload"
              class="text-success cursor ml-2"
              data-toggle="tooltip"
              data-placement="top"
              title="Baixar documento"
            ></fa-icon>
          </a>

          <fa-icon
            *ngIf="!client.photo.url"
            [icon]="faFileDownload"
            class="cursor ml-2"
            [style.color]="'rgba(125,125,125,0.2)'"
            data-toggle="tooltip"
            data-placement="top"
            title="Baixar documento"
          ></fa-icon>

          <form [formGroup]="docForm" novalidate>
            <label htmlFor="result">
              <fa-icon
                [icon]="faIdCard"
                class="cursor ml-2"
                [style.color]="
                  client.photo?.url ? 'var(--success)' : 'var(--medium)'
                "
                data-toggle="tooltip"
                data-placement="top"
                title="Adicionar documento"
              ></fa-icon>
              <input
                accept="image/*"
                type="file"
                name="file"
                [id]="client.id"
                (change)="handleChange($event, client.id)"
                value=""
                class="doc-input"
              />
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
