// @media query here
.dashboard {
  margin: 80px;
  padding-left: 80px;

  .main-data {
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(247, 209, 209, 0.1);
    margin: 20px;

    .header {
      box-shadow: 4px 4px 5px rgba(125, 125, 125, 0.4);
      width: 100%;
      height: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: var(--oposity);
      background-color: var(--doctor);

      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        fa-icon {
          font-size: 1em;
          cursor: pointer;
          margin: 0px 5px 0px 5px;
        }
      }
    }

    position: relative;

    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;

      .form {
        .results {
          background-color: var(--oposity);
          height: 100px;
          border: 1px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .label {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 12px;

            padding: 0px 10px 0px 10px;
          }

          .wrapper {
            padding: 5px 10px 5px 10px;
            overflow-y: scroll;
            width: 100%;

            .result {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              margin: 2px 0px;
              color: var(--doctor);
              padding: 2px;
              border-radius: 4px;

              &:hover {
                background-color: rgba(114, 85, 192, 0.1);
              }

              cursor: pointer;

              div div {
                font-size: 12px;
              }

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid var(--doctor);
                margin-right: 10px;
                object-fit: cover;
                margin-right: 4px;
              }
            }
          }
        }
        .input {
          margin-top: 10px;
          height: 40px;
          width: 220px;
          background-color: var(--doctor);
          color: var(--oposity);
          border: 2px solid var(--doctor);
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 150px;
            border-radius: 4px;
            background-color: var(--oposity);
            color: var(--doctor);
            padding: 2px;
            font-size: 14px;
            &::placeholder {
              color: var(--doctor);
              opacity: 0.6;
            }
          }
        }

        fa-icon {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }

    .founds {
      margin: 5px 0px;
      font-size: 14px;
    }

    .wrapper-results {
      overflow-y: scroll;
      padding: 10px;
      height: 600px;

      border-radius: 4px;

      .exam {
        font-size: 14px;
        margin: 10px;
        padding: 2px 5px 2px 2px;
        border-radius: 4px;

        border-top: none;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--oposity);
        display: flex;
        flex-direction: column;
        align-items: center;

        .body {
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .user {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            flex-wrap: nowrap;

            width: 200px;

            .data {
              display: flex;
              flex-direction: column;

              .client {
                font-weight: bold;
              }

              .doctor,
              .info-date {
                font-size: 10px;
              }
            }
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              border: 1px solid var(--doctor);
              object-fit: cover;
              margin-right: 10px;
            }
          }

          .lab-data {
            width: 150px;
            overflow: hidden;
            .type,
            .cost,
            .name {
              font-size: 10px;
            }
          }
          .type {
            font-weight: bold;
          }
          .info {
            .results {
              background-color: var(--doctor);
              color: var(--oposity);
              border-radius: 4px;
              text-align: center;
              font-weight: bold;
              font-size: 12px;
              margin-bottom: 2px;
              padding: 0px 2px;
              width: 150px;
              max-width: 150px;
            }
            .no-result {
              color: var(--oposity1);
              //@at-root: bold;
              font-size: 12px;
              text-align: center;
              margin-top: 5px;
            }
            .docs {
              display: flex;

              .doc {
                margin: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

                .imag {
                  background-color: var(--success);
                  width: 30px;
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  fa-icon {
                    font-size: 12px;
                    color: var(--oposity);
                  }
                }
                .pdf {
                  width: 30px;
                  color: var(--oposity);
                  font-weight: bold;
                  background-color: rgb(151, 32, 32);
                  background-color: purple;
                  border-radius: 4px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0px 2px;
                  font-size: 12px;
                  cursor: pointer;

                  &:hover {
                    transform: scale(1.01);
                    opacity: 0.8;
                  }
                }

                .pdf,
                .imag {
                  a {
                    text-decoration: none;
                    color: var(--oposity);
                  }
                  fa-icon {
                    color: var(--oposity);
                  }
                }

                fa-icon {
                  margin-left: 2px;
                  color: var(--oposity1);
                  cursor: pointer;

                  &:hover {
                    transform: scale(1.01);
                    opacity: 0.8;
                  }
                }
              }
            }

            .controls {
              display: flex;

              div,
              fa-icon {
                margin-right: 5px;
                cursor: pointer;
                color: var(--oposity1);
                &:hover {
                  transform: scale(1.05);
                  opacity: 0.6;
                }
              }
            }

            .status {
              color: var(--oposity);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              font-weight: bold;
              font-size: 12px;
              padding: 1px 3px;
              width: 90px;
              max-width: 90px;
            }
          }

          .result {
            display: flex;
            justify-content: center;
            align-items: center;
            fa-icon {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.cursor {
  cursor: pointer;
  &:hover {
    transform: scale(1);
    opacity: 0.6;
  }
}
