<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-doctor">
    <div class="header">
      <div class="control filter" *ngIf="client?.user.username">
        <fa-icon [icon]="faUserTie"></fa-icon>
        &nbsp;<strong>{{ client.user.username }}</strong>
        <fa-icon
          [icon]="faTimes"
          class="cursor"
          class="text-oposity1"
          (click)="clear()"
        ></fa-icon>
      </div>

      <div class="control">
        <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
      </div>
      <div class="mx-2">Exames</div>

      <div class="control">
        <fa-icon [icon]="faSearch" (click)="toogle()"></fa-icon>
      </div>

      <div class="control">
        <fa-icon [icon]="faChevronRight" (click)="pageUp()"></fa-icon>
      </div>
    </div>

    <div class="search" *ngIf="showSearch" (mouseleave)="showSearch = false">
      <div class="form">
        <div class="input">
          <input
            type="text"
            name="search"
            placeholder="Nome do paciente"
            #clientname
          />
          <fa-icon
            [icon]="faSearch"
            (click)="search(clientname.value)"
          ></fa-icon>
        </div>

        <div class="results">
          <div class="label">
            Resultados

            <strong class="ml-1"> {{ clients?.length }}</strong>
          </div>

          <div class="wrapper">
            <div
              class="result"
              *ngFor="let client of clients"
              (click)="save(client)"
            >
              <ng-container *ngIf="client.user.avatar?.url; else avatar">
                <img [src]="client.user.avatar?.url" alt="avatar" />
              </ng-container>

              <ng-template #avatar>
                <img src="../../../assets/avatarmale.png" alt="avatar" />
              </ng-template>
              <div>
                <strong>
                  {{
                    client.user.surname
                      ? client.user.fullname
                      : client.user.username
                  }}</strong
                >
                <div>
                  <fa-icon
                    [icon]="faMobileAlt"
                    *ngIf="client.user?.phoneNumber"
                  ></fa-icon>
                  {{ client.user?.phoneNumber }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="founds">
      Encontrados <strong> {{ exams.length }}</strong>
    </div>

    <div class="wrapper-results" *ngIf="exams.length > 0">
      <div *ngFor="let exam of exams" class="exam">
        <div class="body">
          <div class="user info">
            <ng-container *ngIf="exam.client.user.avatar?.url; else avatar">
              <img [src]="exam.client.user.avatar?.url" alt="avatar" />
            </ng-container>
            <ng-template #avatar>
              <img src="../../../../assets/avatarmale.png" alt="avatar"
            /></ng-template>
            <div class="data">
              <div class="client">{{ exam.client.user.fullname }}</div>

              <div class="doctor">
                <fa-icon [icon]="faUserMd"></fa-icon>
                {{ exam.doctor.user?.fullname }}
              </div>

              <div class="info-date">
                <fa-icon [icon]="faCalendarDay"></fa-icon>
                {{ pretty(exam.createdAt) }}
              </div>
            </div>
          </div>

          <div class="lab-data">
            <div class="type">
              <fa-icon [icon]="faVial"></fa-icon>

              {{ fmrt(exam.type) }}
            </div>

            <div class="name">
              <fa-icon [icon]="faFlask"></fa-icon>
              {{ exam.lab?.name ? exam.lab.name : "-" }}
            </div>

            <div class="cost" *ngIf="exam">
              <fa-icon [icon]="faCoins"></fa-icon>

              <ng-container *ngIf="exam?.price; else elseTemplate">
                R$ {{ exam.price }}
              </ng-container>
              <ng-template #elseTemplate> - </ng-template>

              <fa-icon [icon]="faClock"></fa-icon>

              <ng-container *ngIf="exam?.deadline; else deadline">
                {{ pretty(exam.createdAt, exam.deadline) }}
              </ng-container>
              <ng-template #deadline> - </ng-template>
            </div>
          </div>

          <!--results -->

          <div class="info">
            <div class="results">Resultados</div>

            <div
              class="no-result"
              *ngIf="exam.docs.length === 0 && exam.photos.length === 0"
            >
              Indisponível
            </div>

            <div class="docs">
              <div class="doc" *ngFor="let pdf of exam?.docs">
                <div
                  class="pdf"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Baixar documento"
                >
                  <a [href]="pdf?.url" *ngIf="pdf.url"> PDF </a>
                </div>
              </div>

              <div class="doc" *ngFor="let photo of exam?.photos">
                <div
                  class="imag"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Baixar imagem"
                >
                  <a [href]="photo?.url" *ngIf="photo.url">
                    <fa-icon [icon]="faCameraRetro" size="32px"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--end of results-->

          <div class="info">
            <div class="controls">
              <ng-container *ngIf="exam.docs?.length > 0; else elseTemplate">
                <div *ngFor="let doc of exam.docs">
                  <a [href]="doc.url">
                    <fa-icon
                      [icon]="faFileDownload"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Baixar resultado"
                    ></fa-icon>
                  </a>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <fa-icon
                  [icon]="faFileDownload"
                  class="text-oposity1"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Resultado não disponivel"
                ></fa-icon>
              </ng-template>

              <div class="cursor" (click)="unlock(exam)">
                <ng-container
                  *ngIf="
                    exam.status !== 'disponivel' || exam.status === 'cancelado';
                    else tlock
                  "
                >
                  <fa-icon
                    [icon]="faLock"
                    class="text-warn"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Resultado não liberado"
                    (click)="unlock(exam.id)"
                  ></fa-icon>
                </ng-container>
                <ng-template #tlock>
                  <fa-icon
                    [icon]="faLockOpen"
                    class="text-success"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Resultado liberado"
                  ></fa-icon>
                </ng-template>
              </div>
            </div>

            <div
              class="status"
              [style.background-color]="getStatusColor(exam.status)"
            >
              {{ exam.status }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
