// @media query here
.dashboard {
  margin: 80px;
  padding-left: 80px;

  @media screen and (max-device-width: 1400px), screen and (max-width: 1400px) {
    margin-right: 0px;
    margin-left: 0px;
  }

  @media screen and (max-device-width: 1250px), screen and (max-width: 1250px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    margin: 0px;
    padding: 0px;

    padding-top: 50px;
    padding-left: 40px;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-device-width: 400px), screen and (max-width: 400px) {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    margin-left: 45px;
    font-size: 10px;
  }
}
