.main-data {
  width: 450px;
  height: 300px;
  background-color: var(--oposity);
  border-radius: 8px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);

  margin: 20px;
}
.appointments {
  width: 100%;
  overflow-y: scroll;
  height: 240px;
  padding: 10px;

  .info {
    display: flex;
    flex-direction: column;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: var(--client);
    border-radius: 10px;
  }
}
.appointment {
  height: 70px;
}

.cursor {
  cursor: pointer;
}

.avatar-area {
  display: flex;
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--base1);
    margin-right: 4px;
  }
}
