<div class="main-data">
  <div
    class="px-3 py-2 title d-flex align-items-center justify-content-between px-2 py-1"
  >
    <h4 class="text-base">Agendamentos</h4>

    <div class="cursor">
      <fa-icon
        [icon]="faChevronLeft"
        (click)="pageDown()"
        size="1x"
        class="mr-2"
      ></fa-icon>
      <strong>{{ page }}</strong>
      <fa-icon
        [icon]="faChevronRight"
        (click)="pageUp()"
        size="1x"
        class="ml-2"
      ></fa-icon>
    </div>
  </div>

  <div class="body d-flex flex-column justify-content-start appointments">
    <div
      *ngFor="let app of appointments"
      class="d-flex align-itens-center justify-content-between px-4 my-1"
    >
      <div class="avatar-area mx-2">
        <ng-container *ngIf="app.doctor.user.avatar?.url; else avatar">
          <img [src]="app.doctor.user.avatar.url" alt="avatar" />
        </ng-container>
        <ng-template #avatar>
          <img src="../../../../assets/avatarmale.png" alt="avatar"
        /></ng-template>

        <div class="info">
          <span class="text-medium font-weight-bold">{{
            app.doctor.user.surname
              ? app.doctor.user.fullname
              : app.doctor.user.username
          }}</span>

          <span class="text-base font-weight-bold" [style.font-size]="'12px'">{{
            fmrt(app.doctor.specialty[0])
          }}</span>

          <div class="d-flex align-items-center" [style.font-size]="'12px'">
            <fa-icon [icon]="faCalendarDay" class="mr-1 text-base1"> </fa-icon>
            <span class="text-base">{{ prettyDate(app.date) }}</span>

            <fa-icon [icon]="faClock" class="ml-2 mr-1 text-base1"></fa-icon>
            <span class="text-base">{{ app.hour }}h</span>
          </div>
        </div>
      </div>

      <div class="actions ml-5">
        <fa-icon
          [icon]="faTimesCircle"
          (click)="cancel(app)"
          size="1x"
          class="mx-1 cursor"
          data-toggle="tooltip"
          data-placement="top"
          title="Cancelar agendamento"
          [style.color]="
            isPast(app.date) ||
            app.status === 'cancelado' ||
            app.status === 'concluido'
              ? 'rgba(125,125,125,0.4)'
              : 'var(--oposity1)'
          "
        ></fa-icon>

        <div
          class="status"
          [style.background-color]="getStatusColor(app.status)"
        >
          {{ app.status }}
        </div>
      </div>
    </div>
  </div>
</div>
