<app-owners-employee-edit-modal
  #editModal
  (signOut)="diff($event)"
  [employee]="employee"
>
</app-owners-employee-edit-modal>

<app-owners-employee-dismiss-modal
  #removeModal
  (signOut)="dismiss($event)"
  [employee]="employee"
>
</app-owners-employee-dismiss-modal>

<div class="dashboard d-flex flex-wrap justify-content-between">
  <div class="main-data aside text-admin">
    <form [formGroup]="searchForm" class="search-form">
      <label for="search" class="text-owner">
        <fa-icon [icon]="faUserCog" class="text-owner"></fa-icon>
        Administração</label
      >

      <div class="d-flex align-items-center">
        <input
          formControlName="search"
          type="text"
          placeholder="Nome do funcionário"
          autocomplete="off"
          class="text-owner"
        />
        <div
          class="cursor text-owner d-flex align-items-center justify-content-between"
        >
          <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
          <fa-icon [icon]="faChevronLeft" (click)="pageDown()"></fa-icon>
          <div class="ml-2">{{ page }}</div>
          <fa-icon [icon]="faChevronRight" (click)="pageUp()"></fa-icon>
        </div>
      </div>
    </form>

    <div class="data">
      <div class="table-header text-owner">
        <div class="d-flex justify-content-start">Funcionário</div>
        <div>Contratado em:</div>
        <div>
          Salário
          <fa-icon [icon]="faCoins"> </fa-icon>
        </div>
        <div>Editar</div>
      </div>

      <div class="results">
        <div
          class="result active"
          *ngFor="let manager of managers"
          [ngClass]="{ dismiss: !manager.ishired }"
        >
          <div class="d-flex justify-content-start align-items-center">
            <ng-container *ngIf="manager.user.avatar?.url; else avatarTemplate">
              <img [src]="manager.user.avatar?.url" alt="avatar" />
            </ng-container>
            <ng-template #avatarTemplate>
              <img src="../../../../assets/avatarmale.png" alt="avatar" />
            </ng-template>

            <span>{{ manager.user.username }}</span>
          </div>

          <div>
            <fa-icon [icon]="faCalendarPlus" class="mr-1"> </fa-icon>
            {{ manager.hireddate | date: "shortDate" }}
          </div>

          <div>
            {{ manager.salary | currency: "BRL" }}
          </div>
          <div class="actions">
            <ng-container *ngIf="manager.ishired; else notHired">
              <fa-icon
                [icon]="faEdit"
                class="mr-2 cursor text-medium"
                (click)="edit(editModal, manager)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Editar Salário"
              ></fa-icon>
              <fa-icon
                [icon]="faTimes"
                class="cursor text-oposity1"
                (click)="remove(removeModal, manager)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Dispensar"
              ></fa-icon>
            </ng-container>
            <ng-template #notHired>
              <fa-icon
                [icon]="faPlus"
                class="mr-2 cursor text-success"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Recontratar"
                (click)="rehire(manager.id)"
              ></fa-icon>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
