<app-add-lab-modal #modal (signOut)="add($event)"> </app-add-lab-modal>

<app-lab-remove-confirmation
  #removeLabModal
  (signOut)="remove($event)"
  [lab]="lab"
></app-lab-remove-confirmation>

<app-lab-users-edit #addUserLabModal (signOut)="users($event)" [lab]="lab">
</app-lab-users-edit>

<app-lab-edit-exams #editExamsModal (signOut)="exams($event)" [lab]="lab">
</app-lab-edit-exams>

<div class="main-data text-admin">
  <form [formGroup]="searchForm" class="search-form">
    <label for="search" class="text-admin d-none d-md-flex">
      <fa-icon [icon]="faFlask"></fa-icon>
      Laboratórios Conveniados</label
    >

    <div class="d-flex">
      <input
        formControlName="name"
        type="text"
        placeholder="Nome do laboratório"
        autocomplete="off"
      />
      <div class="cursor text-admin">
        <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
      </div>

      <div class="cursor text-admin">
        <fa-icon [icon]="faPlus" (click)="openModal(modal)"></fa-icon>
      </div>
    </div>
  </form>

  <div class="data">
    <div class="table-header">
      <div class="lab-name">Nome do Laboratório</div>
      <div>Adicionado em</div>
      <div>Autorizados</div>
      <div>Categorias</div>
      <div>Exames oferecidos</div>
      <div>Editar</div>
    </div>

    <div class="results">
      <div
        class="result"
        *ngFor="let lab of labs"
        [ngClass]="{ unavailable: !lab.available }"
      >
        <div>
          <div
            class="labs name"
            [ngClass]="{ available: lab.available }"
            [ngClass]="{ unavailable: !lab.available }"
          >
            <fa-icon [icon]="faFlask" class="mr-1"></fa-icon>{{ lab.name }}
          </div>
        </div>

        <div
          [ngClass]="{ available: lab.available }"
          [ngClass]="{ unavailable: !lab.available }"
        >
          {{ lab.createdAt | date: "shortDate" }}
          <fa-icon [icon]="faCalendarPlus" class="ml-1"> </fa-icon>
        </div>

        <div class="d-none d-xl-flex">
          <app-multi-list-view
            [tags]="usernames(lab.users)"
            [w]="'150px'"
            [h]="'30px'"
            [mainColor]="lab.available ? mainColor : 'rgba(120, 120, 120, 0.2)'"
          >
          </app-multi-list-view>
        </div>

        <div class="d-none d-lg-flex">
          <app-multi-list-view
            [tags]="lab.labcategory"
            [w]="'150px'"
            [h]="'30px'"
            [mainColor]="lab.available ? mainColor : 'rgba(120, 120, 120, 0.2)'"
          >
          </app-multi-list-view>
        </div>
        <div class="d-none d-md-flex">
          <app-multi-list-view
            [tags]="lab.exams"
            [w]="'150px'"
            [h]="'30px'"
            [mainColor]="lab.available ? mainColor : 'rgba(120, 120, 120, 0.2)'"
          >
          </app-multi-list-view>
        </div>
        <div class="actions">
          <ng-container *ngIf="lab.available; else unavailableTemplate">
            <fa-icon
              [icon]="faUserEdit"
              class="mr-2 cursor text-profile"
              (click)="addUserLab(addUserLabModal, lab)"
            ></fa-icon>
            <fa-icon
              [icon]="faEdit"
              class="mr-2 cursor text-medium"
              (click)="editExams(editExamsModal, lab)"
            ></fa-icon>
            <fa-icon
              [icon]="faTimes"
              class="cursor text-oposity1"
              (click)="removeLab(removeLabModal, lab)"
            ></fa-icon>
          </ng-container>
          <ng-template #unavailableTemplate>
            <fa-icon
              class="cursor text-success mr-2"
              [icon]="faPlus"
              (click)="makeAvailable(lab)"
            >
            </fa-icon>
            <fa-icon
              [icon]="faTrash"
              class="cursor"
              [style.color]="'#78787833'"
              [style.opacity]="'0.6'"
            >
            </fa-icon>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
