.main-data {
  width: 100%;
  height: 600px;
  background-color: var(--oposity);
  border-radius: 8px;
  box-shadow: 4px 4px 5px rgba(247, 209, 209, 0.1);
  margin: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  color: var(--admin);
  background-color: var(--adim);
  padding: 10px 20px 0px 20px;

  input {
    height: 30px;
    background: rgba(120, 120, 120, 0.2);
    border-radius: 4px;
    padding: 0 5px;
    color: var(--admin);
    &::placeholder {
      color: var(--admin);
      opacity: 0.6;
    }
  }

  fa-icon {
    font-size: 1.2em;
    margin-left: 10px;
  }
}

.data {
  padding: 0 20px;
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--admin);
    margin-bottom: 10px;
    padding: 0 10px;
    padding-right: 25px;

    div {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .lab-name {
      justify-content: flex-start;
    }
  }
  .results {
    padding: 0 5px;
    border-radius: 4px;
    height: 500px;
    overflow: auto;
    background-color: rgba(120, 120, 120, 0.05);

    .result {
      margin: 5px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--oposity);
      padding: 5px;
      border-radius: 4px;
      color: var(--base1);

      div {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 45px;
        overflow: hidden;
      }
      .name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  @media screen and (max-device-width: 320px), screen and (max-width: 320px) {
    margin: 0px;
    padding: 0px;
    width: 100%;

    .main-data {
      width: 100%;
      margin: 0px;
      padding: 0px;
      //padding-left: 40px;
      //padding-top: 30px;
      overflow-y: hidden;

      .data {
        margin: 0px;
        padding: 0px;
      }
    }
  }
  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    margin: 0px;
    padding: 0px;
    width: 100%;

    .main-data {
      width: 100%;
      margin: 0px;
      padding: 0px;
      padding-left: 40px;
      padding-top: 50px;
      overflow-y: hidden;
    }
  }

  @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    margin: 0px;
    padding: 0px;
    width: 100%;

    .main-data {
      width: 100%;
      margin: 0px;
      padding: 0px;
      padding-left: 40px;
      padding-top: 50px;
      overflow-y: hidden;
    }

    .table-header {
      font-size: 10px;
    }
  }

  @media screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
    margin: 0px;
    padding: 0px;
    width: 100%;

    .main-data {
      width: 100%;
      margin: 0px;
      padding: 0px;

      overflow-y: hidden;
    }

    .results {
      font-size: 10px;
      margin: 0px;
      padding: 0px;

      .result {
        display: flex;
      }
    }

    .table-header {
      display: none;
    }
  }
}
.cursor {
  cursor: pointer;
}

.unavailable {
  color: #78787833;
}

.available {
  color: var(--base1);
}
