<app-add-lab-modal #modal (signOut)="confirm($event)"> </app-add-lab-modal>

<app-lab-remove-confirmation
  #removeLabModal
  (signout)="remove($event)"
  [lab]="lab"
></app-lab-remove-confirmation>

<app-lab-users-edit #addUserLabModal (signout)="remove($event)" [lab]="lab">
</app-lab-users-edit>

<app-lab-edit-exams #editExamsModal (signout)="remove($event)" [lab]="lab">
</app-lab-edit-exams>

<div class="main-data aside text-admin">
  <form [formGroup]="searchForm" class="search-form">
    <label for="search" class="text-admin">
      <fa-icon [icon]="faFlask"></fa-icon>
      Laboratórios Conveniados</label
    >

    <div class="d-flex">
      <input
        formControlName="search"
        type="text"
        placeholder="Nome do laboratório"
        autocomplete="off"
      />
      <div class="cursor text-admin">
        <fa-icon [icon]="faSearch" (click)="handleSearch()"></fa-icon>
      </div>

      <div class="cursor text-admin">
        <fa-icon [icon]="faPlus" (click)="openModal(modal)"></fa-icon>
      </div>
    </div>
  </form>

  <div class="data">
    <div class="table-header">
      <div>Nome do Laboratório</div>
      <div>Adicionado em:</div>
      <div>Editar</div>
    </div>

    <div class="results">
      <div class="result">
        <div
          class="d-flex justify-content-center align-items-center text-base1"
        >
          <fa-icon [icon]="faFlask" class="mr-2"></fa-icon>
          <span>Radiologia Clinica S/A</span>
        </div>
        <div class="text-base1">
          23/02/2019
          <fa-icon [icon]="faCalendarPlus"> </fa-icon>
        </div>
        <div class="actions">
          <fa-icon
            [icon]="faUserEdit"
            class="mr-2 cursor text-profile"
            (click)="addUserLab(addUserLabModal)"
          ></fa-icon>
          <fa-icon
            [icon]="faEdit"
            class="mr-2 cursor text-medium"
            (click)="editExams(editExamsModal)"
          ></fa-icon>
          <fa-icon
            [icon]="faTimes"
            class="cursor text-oposity1"
            (click)="removeLab(removeLabModal)"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
